/**
 * Bodoke.css
 * ----------
 * Sexy & simple css framework made in SASS with easy configuration
 * Inlcude FontAwesome!
 *
 *
 * author: 			Diego Martin Marmol | @dmmarmol
 * website: 		www.diegomarmol.com.ar
 * version:			0.3.1 (Caesar Odysseus)
 * release date:	20/05/14	
 * contributors: 	Leonardo Pittelli | @leopittelli
 * developed at:	Convoy S.R.L - www.convoy.me
 * Compass:			1.0.1 (Polaris)
 * SASS:			3.4.9 (Selective Steve)
 *
*/

$bodoke-version:			0.3.1;
$bodoke-prefix:				'bdk';

// Compass CSS3 Mixins
@import "compass/css3";

// Settings & Config
@import "bodoke/settings/config"; 				// config & variables
@import "bodoke/settings/mixins"; 				// mixins
@import "bodoke/settings/functions";			// functions
@import "bodoke/settings/fonts"; 				// fonts
@import "bodoke/settings/colors"; 				// colors
@import "bodoke/grid/grid";						// grid framework

// Complements
// ======================================
@import "bodoke/component/buttons";
// @import 'bodoke/component/buttons-google';	// GOOGLE BUTTONS (pre Material Design)
@import "bodoke/component/icons";

@import "bodoke/component/animations";
// @import "bodoke/component/transformations";		// 0.1.3
@import "bodoke/component/burger";					// 0.2.0
@import "bodoke/component/titles";
@import "bodoke/component/text";
@import "bodoke/component/list";
@import "bodoke/component/menu";
@import "bodoke/component/input";
@import "bodoke/component/comments";				// 0.1.2
@import "bodoke/component/sidenav";					// 0.2.7
@import "bodoke/component/modals";					// 0.2.8
@import "bodoke/component/tooltip";
@import "bodoke/component/dropdown";
@import "bodoke/component/lang-dropdown.scss";
@import "bodoke/component/table";
@import "bodoke/component/lightbox";
@import "bodoke/component/slider";
@import "bodoke/component/slide-detail";
@import "bodoke/component/code";
@import "bodoke/component/rating";					// 0.3.1

// CSS helpers
// ======================================
@import "bodoke/settings/helpers"; 	