// app.scss
//
// Hoja de estilos para la aplicacion/sitio web
//

// =======================================
// BODOKE
// Incluye bodoke.css
// =======================================
@import "bodoke";



// =======================================
// ---------------------------------------
// ESTILOS GLOBALES
// Aca debe ir generada la(s) grillas
// mas algun estilo que abarque 
// al <html>, <body> o las <section>
// ---------------------------------------
// =======================================


// ================================
// GRILLA(S)
// ================================

// Genera una grilla de 12 columnas
@include grid(12);



// ================================
// GLOBALES
// ================================
html {
	height: 100%;
	// Descomentar unicamente si la version desktop
	// es una aplicacion diferente a la mobile
	/*
	&, body {
		min-width: 1000px;
		min-height: 600px;
	}
	*/
}

body {
	position: relative;
	color: $text-color;
	font-family: 	$global-font; // config.scss
	font-size: 		$global-font-size; // config.scss
	&.full {
		&, .container {
			&, .inner-container {
				height: 100%;
			}
		}
	}
}


// =======================================
// SECCIONES Y ELEMENTOS DEL SITIO
// =======================================
@import "footer";



// =========================================
// Media Queries
// =========================================
@media only screen and (max-width: 1024px ) {
	@import "media/1024";
}

@media only screen and (max-height: 600px) {
	@import "media/netbook";
}

// @media only screen and (max-device-height: 480px) {
@media only screen and (min-width : 320px) and (max-width : 640px) {
	@import "media/mobile";
}


// ============================================
// Print styles
// ============================================
@media print {
	@import "media/print";
}