.DS_Store
*.pyc
.gaedata
.project
.pydevproject
.settings
.sass-cache
.logo
.start-compass.bat
*.datastore
*.blobstore
node_modules
out
sassdoc
*.log

# Sublime Text files
*.sublime-project
*.sublime-workspace

# Backup Files
.backup
*.backup