/* 
* _1024.scss
* Resoluciones hasta 1024px
*/

// Aca hay que incluir como un @mixin todas las reglas
// que deban funcionar en resoluciones menores a 1024px de ancho
// Ej.: @include media-1024-footer;

// ======================================================================

// @include media-1024-footer();
