// _animations.scss


.animated {
	// -webkit-animation-duration: $animation-duration;
	// 		animation-duration: $animation-duration;
	// -webkit-animation-fill-mode: both;
	// 		animation-fill-mode: both;
}

// ===================================
// CONFIGURACIÓN
// ===================================
// Activa/Desactiva animaciones

// Fades
$animation-fadeIn:						true;
// Left
$animation-fadeInLeft:					false;
$animation-fadeInLeftDisplay:			false;
$animation-fadeInLeftBig:				false;
$animation-fadeInLeftBig-extension:		false; // 0.1.0
$animation-fadeInFromLeftToRight:		false;
// Right
$animation-fadeInRight:					false;
$animation-fadeInRightBig:				false;
$animation-fadeInRightBig-extension:	false; // 0.1.0
$animation-fadeInFromRightToLeft:		false;
// Up
$animation-fadeInUp:					true;  // 0.2.0
// Bottom
$animation-fadeInBottom:				false;

// Fades Out
$animation-fadeOutLeft:					false;

// Efectos
$animation-bounceUp:					false;
$animation-pulse:						false;
$animation-spin:						false;

// Entradas
$animation-showFromRight:				false;
$animation-showFromLeft:				false;
$animation-showSlideDown:				false;

// Salidas
$animation-hideSlideUp:					false;

// Delay en las animaciones
$animation-delay:						false;
$animation-delay-count:					8;
$transition-delay:						false;
$transition-delay-count:				8;

// Default duration
$animation-duration:					1000ms; // 0.1.0




// ===================================
// ANIMACIONES
// ===================================

// Fade In - (without affecting display property)
@if ( $animation-fadeIn ) {
	$animation-name: fadeIn;
	@include keyframes($animation-name) {
		0% 	 { opacity: 0; }
		100% { opacity: 1; }
	}
	.#{$animation-name} { opacity: 0; @include animation( $animation-name $animation-duration ); }
}
	
// Fade In Left - (without affecting display property)
@if ( $animation-fadeInLeft ) {
	$animation-name: fadeInLeft;
	@include keyframes($animation-name) {
		0% { 
			@include transform( translate3d(-10px, 0, 0) );
			opacity: 0;
		}
		100% { 
			@include transform( translate3d(0px, 0, 0) );
			opacity: 1;
		}
	}
	.#{$animation-name} { @include animation( $animation-name $animation-duration ); }
}

// Fade In Left Display - Afecta a la propiedad display
@if ( $animation-fadeInLeftDisplay ) {
	$animation-name: fadeInLeftDisplay;
	@include keyframes($animation-name) {
		0% { 
			@include transform( translate3d(-10px, 0, 0) );
			opacity: 0;
			display:none;
		}
		100% { 
			@include transform( translate3d(0px, 0, 0) );
			opacity: 1;
			display: block;
		}
	}
	.#{$animation-name} { @include animation( $animation-name $animation-duration ); }
}

// Fade in from up
@if ( $animation-fadeInUp ) {
	$animation-name: fadeInUp;
	@include keyframes($animation-name) {
		0%	 { 
			@include transform( translateY(-10px) );
			opacity: 0; 
		}
		100% { 
			@include transform( translateY(0px) );
			opacity: 1; 
		}
	}
	.#{$animation-name} { @include animation( $animation-name $animation-duration ); }	
}

// Fade in form Right to Left
@if ( $animation-fadeInFromRightToLeft ) {
	$animation-name: fadeInFromRightToLeft;
	@include keyframes($animation-name) {
		0%	 { 
			@include transform( translateX(50px) );
			opacity: 0; 
		}
		100% { 
			@include transform( translateX(0px) );
			opacity: 1; 
		}
	}
	.#{$animation-name} { @include animation( $animation-name $animation-duration ); }	
}

// Fade in form Left to Right
@if ( $animation-fadeInFromLeftToRight ) {
	$animation-name: fadeInFromLeftToRight;
	@include keyframes($animation-name) {
		0%	 { 
			@include transform( translateX(-50px) );
			opacity: 0; 
		}
		100% { 
			@include transform( translateX(0px) );
			opacity: 1; 
		}
	}
	.#{$animation-name} { @include animation( $animation-name $animation-duration ); }	
}




// Fade Out to the left
@if ( $animation-fadeOutLeft ) {
	$animation-name: fadeOutLeft;
	@include keyframes($animation-name) {
		0%	 { 
			@include transform( translateX(5px) );
			opacity: 1;
		}
		100% { 
			@include transform( translateX(-50px) );
			opacity: 0;
		}
	}
	.#{$animation-name} { @include animation( $animation-name $animation-duration ); }	
}




// Bounce Up
@if ( $animation-bounceUp ) {
	$animation-name: bounceUp;
	@include keyframes($animation-name) {
		0%	 { 
			@include transform( translate3d(0, -10px, 0) ); 
		}
		50%	 { 
			@include transform( translate3d(0, 10px, 0) ); 
		}
		100% { 
			@include transform( translate3d(0, -10px, 0) ); 
		}
	}
	.#{$animation-name} { @include animation( $animation-name $animation-duration ); }	
}

// Spin
@if ( $animation-spin ) {
	$animation-name: spin;
	@include keyframes($animation-name) {
		0% 	 {
			@include transform( rotate(0) ); 
		}
		100% {
			@include transform( rotate(360deg) ); 
		}
	}
	.#{$animation-name} { @include animation( $animation-name $animation-duration, true ); }	
}

// Pulse
@if ( $animation-pulse ) {
	$animation-name: pulse;
	@include keyframes($animation-name) {
		0% 	 {
			@include transform( scale(1) ); 
		}
		50%  {
			@include transform( scale(1.25) ); 
		}
		100% {
			@include transform( scale(1) ); 
		}
	}
	.#{$animation-name} { @include animation( $animation-name $animation-duration ); }	
}


// =====================
// FROM RIGHT TO POINT
// =====================
@if ( $animation-showFromRight ) {

	// Show from right - Normal Distance
	$animation-name: showFromRight-1;
	@include keyframes($animation-name) {
		0%	 { 
			@include transform( translateX(6000px) ); 
		}
		100% { 
			@include transform( translateX(0) ); 
		}
	}
	.#{$animation-name} { @include animation( $animation-name $animation-duration ); }

	// Show from right - Far distance
	$animation-name: showFromRight-2;
	@include keyframes($animation-name) {
		0% 	 { 
			@include transform( translateX(8500px) ); 
		}
		100% { 
			@include transform( translateX(0) ); 
		}
	}
	.#{$animation-name} { @include animation( $animation-name $animation-duration ); }

	// Show from right - So much far distance
	$animation-name: showFromRight-3;
	@include keyframes($animation-name) {
		0% 	 { 
			@include transform( translateX(15000px) ); 
		}
		100% { 
			@include transform( translateX(0) ); 
		}
	}
	.#{$animation-name} { @include animation( $animation-name $animation-duration ); }

	// Show from right - Normal Distance
	$animation-name: showFromRightPos-1;
	@include keyframes($animation-name) {
		0% 	 { left: 6000px; }
		100% { left: 0; }
	}
	.#{$animation-name} { @include animation( $animation-name $animation-duration ); }	

}


// =====================
// FROM LEFT TO POINT
// =====================
@if ( $animation-showFromLeft ) {
	
	// Show from left - Normal Distance
	$animation-name: showFromLeft-1;
	@include keyframes($animation-name) {
		0% 	 { 
			@include transform( translateX(-6000px) ); 
		}
		100% { 
			@include transform( translateX(0) ); 
		}
	}
	.#{$animation-name} { @include animation( $animation-name $transition-time * 2 ); }
	
	// Show from left - Far distance
	$animation-name: showFromLeft-2;
	@include keyframes($animation-name) {
		0%	 { 
			@include transform( translateX(-8500px) );
		}
		100% { 
			@include transform( translateX(0) );
		}
	}
	.#{$animation-name} { @include animation( $animation-name $transition-time * 4 ); }
	
	// Show from left - So much far distance
	$animation-name: showFromLeft-3;
	@include keyframes($animation-name) {
		0% 	 { 
			@include transform( translateX(-15000px) ); 
		}
		100% { 
			@include transform( translateX(0) ); 
		}
	}
	.#{$animation-name} { @include animation( $animation-name $transition-time * 6 ); }

}



// ===========================
// FADE FROM RIGHT TO POINT
// ===========================
// Fade In Right - (without affecting display property)
@if ( $animation-fadeInRight ) {
	$animation-name: fadeInRight;
	@include keyframes($animation-name) {
		0% { 
			@include transform( translate3d(10px, 0, 0) );
			opacity: 0;
		}
		100% { 
			@include transform( translate3d(0px, 0, 0) );
			opacity: 1;
		}
	}
	.#{$animation-name} { @include animation( $animation-name $animation-duration ); }
}


@if ( $animation-fadeInRightBig ) {
	$animation-name: 'fadeInRightBig';
	@include keyframes($animation-name) {
		0% {
			@include opacity(0);
			@include transform(translate3d(2000px, 0, 0));
		}
		100% {
			@include opacity(1);
			@include transform( none );
		}
	}
	.#{$animation-name} { @include opacity(0); @include animation( $animation-name 800ms ); }
}

@if ( $animation-fadeInRightBig-extension ) {

	// FadeIn from left - Normal Distance
	$animation-name: fadeInRightBig-1;
	@include keyframes($animation-name) {
		0%	 { 
			@include opacity(0); 
			@include transform( translateX(6000px) ); 
		}
		100% { 
			@include opacity(1); 
			@include transform( translateX(0) ); 
		}
	}
	.#{$animation-name} { @include opacity(0); @include animation( $animation-name $animation-duration ); }
	// FadeIn from left - Far distance
	$animation-name: fadeInRightBig-2;
	@include keyframes($animation-name) {
		0% 	 { 
			@include opacity(0); 
			@include transform( translateX(8500px) ); 
		}
		100% { 
			@include opacity(1); 
			@include transform( translateX(0) ); 
		}
	}
	.#{$animation-name} { @include opacity(0); @include animation( $animation-name $animation-duration ); }
	// FadeIn from left - So much far distance
	$animation-name: fadeInRightBig-3;
	@include keyframes($animation-name) {
		0% 	 { 
			@include opacity(0); 
			@include transform( translateX(15000px) ); 
		}
		100% { 
			@include opacity(1); 
			@include transform( translateX(0) ); 
		}
	}
	.#{$animation-name} { @include opacity(0); @include animation( $animation-name $animation-duration ); }

}



// ===========================
// FADE FROM LEFT TO POINT
// ===========================
@if ( $animation-fadeInLeftBig ) {
	$animation-name: 'fadeInLeftBig';
	@include keyframes($animation-name) {
		0% {
			@include opacity(0);
			@include transform( translate3d(-2000px, 0, 0) );
		}
		100% {
			@include opacity(1);
			@include transform( none );
		}
	}
	.#{$animation-name} { @include opacity(0); @include animation( $animation-name 800ms ); }
}

@if ( $animation-fadeInLeftBig-extension ) {

	// FadeIn from left - Normal Distance
	$animation-name: fadeInLeftBig-1;
	@include keyframes($animation-name) {
		0% 	 { 
			opacity: 0;
			@include transform( translateX(-6000px) );
		}
		100% { 
			opacity: 1;
			@include transform( translateX(0) );
		}
	}
	.#{$animation-name} { @include opacity(0); @include animation( $animation-name $animation-duration ); }
	 
	// FadeIn from left - Far distance
	$animation-name: fadeInLeftBig-2;
	@include keyframes($animation-name) {
		0%	 { 
			opacity: 0;
			@include transform( translateX(-8500px) );
		}
		100% { 
			opacity: 1;
			@include transform( translateX(0) );
		}
	}
	.#{$animation-name} { @include opacity(0); @include animation( $animation-name $animation-duration ); }
	 
	// FadeIn from left - So much far distance
	$animation-name: fadeInLeftBig-3;
	@include keyframes($animation-name) {
		0% 	 { 
			opacity: 0;
			@include transform( translateX(-15000px) );
		}
		100% { 
			opacity: 1;
			@include transform( translateX(0) );
		}
	}
	.#{$animation-name} { @include opacity(0); @include animation( $animation-name $animation-duration ); }

}



// ===========================
// SHOW SLIDE DOWN
// ===========================
@if ( $animation-showSlideDown ) {
	$animation-name: showSlideUp;
	@include keyframes($animation-name) {
		0% 	 { 
			@include opacity(0);
			@include transform( translateY(-10000px) );
		}
		85%, 90% { 
			@include transform( translateY(10px) ); 
		}
		100% { 
			@include transform( translateY(0) ); 
		}
	}	
	.#{$animation-name} { @include animation( $animation-name $animation-duration ); }
}




// ===========================
// HIDE SLIDE UP
// ===========================
@if ( $animation-hideSlideUp ) {
	$animation-name: hideSlideUp;
	@include keyframes($animation-name) {
		0% 	 { 
			@include transform( translateY(0) ); 
		}
		5%, 10%	 { 
			@include transform( translateY(10px) ); 
		}
		100% { @include transform( translateY(-10000px) ); }
	}	
	.#{$animation-name} { @include animation( $animation-name $animation-duration ); }
}



// ============================
// Delay Clases
// ============================
@if ( $animation-delay ) {
	@for $i from 1 through $animation-delay-count {
		.delay-#{$i} {
			@include animation-delay( $i * ($animation-duration / 2) );
		}
		.delay-fast-#{$i} {
			@include animation-delay( $i * ($animation-duration / 4.5) );
		}
	}
}
@if ( $transition-delay ) {
	@for $i from 1 through $transition-delay-count {
		.transition-delay-#{$i} {
			@include delay( $i * ($animation-duration / 4.5) );			
		}
		.transition-delay-fast-#{$i} {
			@include delay( $i * ($animation-duration / 4.5) );
		}
	}
}
