////
/// @group Buttons
/// @since 0.1
/// @author [Diego Martin Marmol](http://twitter.com/dmmarmol)
////


/// Button total height
/// @type Int $button-height [40px] - the button height in pixels
$button-height: 					em(40px); // ex 32px
/// Button font size
/// @type Int $button-height [12px] - Button font-size in pixels
$button-font-size:					em(12px);
$button-offset: 					1.1em;
$button-radius:						3px;
$button-border-width:				0px;
$button-pressed-offset:				$button-border-width;
$button-default-bg:					$black_90;
$button-default-text:				$text-color;
$button-transition-time:			$transition-speed; // config.scss
$button-colors:						$buttons-color-pallete;	// colors.scss

// BUTTON NAMES
$button-prefix:						'button';					// Cambias este prefijo y cambia todos
$button-group-prefix:				'#{$button-prefix}-group';

// SETTINGS
$button-has-box-shadow:				false;
$button-has-text-shadow:			false;
$button-has-border:					none;
$button-has-background:				true;
$button-has-background-gradient:	false;
$button-has-active-pseudo:			true;


// =======================
// BUTTON COLORS
// =======================
$shadow-alpha: 						0.8;
$percent:							20%;
$dark-button-text-color:			$black_97;



/// Button colors
/// @param {string} $name - Name of the color (from $button-colors) that will be used as a class prefix
/// @param {string} $color - color value (from $button-colors)
/// @see .#{$button-prefix}-clear
/// @since 0.0.1
@mixin button-color( $name, $color ) {
	&.#{$button-prefix}-#{$name}, [role="button"] {
		// - Flat Button
		@if ( $button-has-background ) {
			// SI tiene fondo
			@if ( $button-has-background-gradient == false ) {
				// Si no tiene fondo como gradiente 
				@include background( $color );
			} @else {
				// Si tiene fondo como gradiente 
				// Compass stable release
				// ============================
				// - Gradient Button
				// @include background-image(linear-gradient( center top, $color, darken($color, 10%) ) );
				
				// Compass 1.0.0 ALPHA
				// ============================
				// - Gradient Button
				// @include background( linear-gradient( 180deg, $color, darken($color, 10%) ) );
			}
			@if lightness($color) > lightness(#aaa) {
				color: $text-color;
			} @else {
				color: $dark-button-text-color;
			}
			@if ( $button-has-active-pseudo ) {
				// Tiene fondo, y tiene estado active
				&:active,
				&.active {
					@if ( $button-has-box-shadow ) {
						@include box-shadow( inset 0 3px 0px 0px darken( $color, 15% ) );
					}
				}			
			}
			&:hover {
				@include background( darken($color, 10%) );
			}
			&:active {
				@include background( darken($color, 15%) );
			}
		} @else {
			// NO tiene fondo
			color: $color;
			@if ( $button-has-active-pseudo ) {
				&:hover,
				&:active,
				&.active {
					@include background( darken($color, 10%) );
				}
			} @elseif ( $button-has-border ) {
				// Si no tiene fondo, pero tiene borde
				// en :hover el fondo se muestra transparentado
				&:hover, 
				&:active, 
				&.active, 
				&.#{$button-prefix}-bg {
					@include background( rgba($color, 0.2) );				
				}
				// "button-bg" - fuerza al boton (sin fondo) para que lo lleve
				&.#{$button-prefix}-bg {
					&:hover,
					&:active,
					&.active {
						@include background( darken($color, 15%) );
						@if lightness($color) > lightness(#aaa) {
							color: $text-color;
						} @else {
							color: $dark-button-text-color;
						}
					}
				}
			}
		}
		@if ( $button-has-box-shadow ) {
			border-color: darken( $color, 15% );
			// @include box-shadow( 0 $button-border-width 0 0 darken( $color, 15% ) ); 
		}
		@if ( $button-has-text-shadow ) {
			// @include text-shadow( 0 1px 0 darken( rgba( $color, 0.8), 20% ) );
			@include text-shadow( 0px 1px 0px rgba( darken( $color, $percent ), $shadow-alpha ) );
		}
	}
}

/// Clear button hover colors
/// @param {string} $name - Name of the color (from $button-colors) that will be used as a class prefix
/// @param {string} $color - color value (from $button-colors)
/// @see .#{$button-prefix}-clear
/// @since 0.1.1
@mixin button-clear-color( $name, $color ) {
	&.#{$button-prefix}-#{$name}, [role="button"] {
		// @include transition( box-shadow $button-transition-time ease );
		&:hover {
			@if lightness($color) > lightness(#aaa) {
				color: $text-color;
			} @else {
				color: $dark-button-text-color;
			}
			@if ( $button-has-background ) {
				@include background( $color );	
			}
			@if ( $button-has-text-shadow ) {
				@include text-shadow( 0 1px 0 darken( rgba( $color, 0.8), 20% ) );
			}
			// @if ( $button-has-box-shadow ) {
				// @include box-shadow( 0 $button-border-width 0 0 darken( $color, 15% ) );
			// }
		}
	}
}

/// Clean button hover colors
/// @param {string} $name - Name of the color (from $button-colors) that will be used as a class prefix
/// @param {string} $color - color value (from $button-colors)
/// @see .#{$button-prefix}-clean
/// @since 0.2.0
@mixin button-clean-color( $name, $color ) {
	&.#{$button-prefix}-#{$name} {
		&:hover {
			@if lightness($color) > lightness(#aaa) {
				color: $text-color;
			} @else {
				color: $dark-button-text-color;
			}
			@if ( $button-has-background ) {
				@include background( $color );	
			}
			@if ( $button-has-text-shadow ) {
				@include text-shadow( 0 1px 0 darken( rgba( $color, 0.8), 20% ) );
			}
			// @if ( $button-has-box-shadow ) {
				// @include box-shadow( 0 $button-border-width 0 0 darken( $color, 15% ) );
			// }
		}
	}
}

/// Buttons inside button-groups colors
/// @param {string} $name - Name of the color (from $button-colors) that will be used as a class prefix
/// @param {string} $color - color value (from $button-colors)
/// @see .#{$button-prefix}-group
/// @since 0.1.2
@mixin button-group-color( $name, $color ) {
	&.#{$button-prefix}-#{$name} {
		.#{$button-prefix}, [role="button"] {
			@if lightness($color) > lightness(#aaa) {
				color: $text-color;
			} @else {
				color: $dark-button-text-color;
			}

			@if ( $button-has-background ) {
				@include background( $color );
			}
			// border-color: darken( $color, 15% );
			@if ( $button-has-box-shadow ) {
				@include box-shadow( 0 $button-border-width 0 0 darken( $color, 15% ) );
			}
			@if ( $button-has-text-shadow ) {
				@include text-shadow( 0 1px 0 darken( rgba( $color, 0.8), 20% ) );
			}
			&:hover { 
				@if ( $button-has-background ) {
					@include background( darken( $color, 10% ) );
				}				
			}
			@if ( $button-has-active-pseudo ) {
				&:active, &.active {
					@if ( $button-has-background ) {
 						@include background( darken( $color, 12.5% ) );
					}
					@if ( $button-has-box-shadow ) {
						@include box-shadow( inset 0 3px 0px 0px darken( $color, 15% ) );
					}
				}
			}
		}
	}	
}



// ==========================
// COLORES
// ==========================
// Botones comunes
.#{$button-prefix}, [role="button"] {
	@each $single-color in $button-colors {
		@include button-color( nth($single-color, 1), nth($single-color, 2) );
	}
}
// Botones sin fondo
.#{$button-prefix}, [role="button"] {
	&.#{$button-prefix}-clear {
		@include transition( 
			background $button-transition-time ease,
			text-shadow $button-transition-time ease 
		);
		@each $single-color in $button-colors {
			@include button-clear-color( nth($single-color, 1), nth($single-color, 2) );
		}
	}
}
// Botones sin fondo, pero con hover
.#{$button-prefix}, [role="button"] {
	&.#{$button-prefix}-clean {
		color: $text-color;
		background-color: transparent;
		@include transition( 
			background $button-transition-time ease,
			text-shadow $button-transition-time ease 
		);
		@each $single-color in $button-colors {
			@include button-clean-color( nth($single-color, 1), nth($single-color, 2) );
		}
	}
}
// Link button colors
.#{$button-prefix}, [role="button"] {
	&.#{$button-prefix}-link {
		@include text-shadow(none);
		@each $single-color in $button-colors {
			&.#{$button-prefix}-#{nth($single-color, 1)} { color: nth($single-color, 2); }
		}		
	}
}
// Botones en grupo
.#{$button-group-prefix} {
	@each $single-color in $button-colors {
		@include button-group-color( nth($single-color, 1), nth($single-color, 2) );
	}
}


/// BUTTON SIZES
/// A partir de 0.1.0 las clases para los tamaños
/// llevan el prefijo "button-"
/// Lo que antes era en html "button slim" ahora es "button button-slim"
.#{$button-prefix}, [role="button"] {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: $button-offset;
	padding-right: $button-offset;
	.ficon, i {
		font-size: 1.05em;
		&:first-child { margin-right: 0.65em; }
		&:last-child { margin-left: 0.65em; }
	}
	&.#{$button-prefix}-slim {
		padding-left: $button-offset / 2;
		padding-right: $button-offset / 2;
		line-height: $button-height * 0.9;
		.ficon, i {
			font-size: 0.9em;
			&:first-child { margin-right: 0.8em; }
			&:last-child { margin-left: 0.8em; }
		}
	}
	&.#{$button-prefix}-medium {
		padding-left: $button-offset * 1.25;
		padding-right: $button-offset * 1.25;
		font-size: 16px;
		line-height: $button-height * 1.2;
		.ficon, i {
			font-size: 1.2em;
			&:first-child { margin-right: 1.05em; }
			&:last-child { margin-left: 1.05em; }
		}
	}
	&.#{$button-prefix}-large {
		padding-top: $button-offset / 1.75;
		padding-bottom: $button-offset / 1.75;
		padding-left: $button-offset;
		padding-right: $button-offset;
		font-size: 24px;
		font-weight: 300;
		line-height: 20px;
		.ficon, i {
			font-size: 1.4em;
			&:first-child { margin-right: 1.1em; }
			&:last-child { margin-left: 1.1em; }
		}
	}
	&.#{$button-prefix}-big {
		padding-top: $button-offset / 1.5;
		padding-bottom: $button-offset / 1.5;
		padding-left: $button-offset * 2;
		padding-right: $button-offset * 2;
		font-size: 24px;
		font-weight: 300;
		line-height: 24px;
		.ficon, i {
			font-size: 1.8em;
			&:first-child { margin-right: 1.2em; }
			&:last-child { margin-left: 1.2em; }
		}
	}
}


// ==========================
// BUTTON GROUP
// ==========================
.#{$button-group-prefix} {
	padding: 0;
	margin: 0;
	line-height: $button-height;
	background: transparent;
	@include clear();
	overflow: auto;
	// A simple button inside the group
	.#{$button-prefix}, [role="button"] {
		border-right: none;
		@include border-radius( 0 );
		&:first-child { 
			@include border-radius( $button-radius 0 0 $button-radius ); 
		}
		&:last-child { 
			// border-right-width: 3px;
			// border-right-style: solid;
			@include border-radius( 0 $button-radius $button-radius 0 ); 
		}
		a, button {
			display: block;
			padding-left: $offset;
			padding-right: $offset;
		}
		@if ( $button-has-active-pseudo ) {
			&:active {
				// margin-left: -$button-pressed-offset; // Para ocultar el espacio en blanco que genera el translate3d en el eje X que tienen los .button
			}
		}

	}
	// And if the button is a link?
	a.#{$button-prefix}, button.#{$button-prefix}, [role="button"] {
		display: block;		
	}
	// What happens if the group turns vertical?
	&.#{$button-group-prefix}-vertical {
		.#{$button-prefix}, [role="button"] {
			float: none;
			@include border-radius( 0 );
			// &:first-child { @include border-radius( $button-radius $button-radius 0 0 ); }
			// &:last-child { @include border-radius( 0 0 $button-radius $button-radius ); }			
		}
	}
	// Or what if the buttons are inline-aligned?
	&.#{$button-group-prefix}-inline {
		display: inline-block;
		float: none;
		.#{$button-prefix}, [role="button"] {
			display: inline-block;
			float: none;
			margin-left: -0.3em;
		}
	}
}
// =================
// BUTTON GROUP SIZES
// =================
.#{$button-group-prefix} {
	.#{$button-prefix}-slim {}
	.#{$button-prefix}-medium {}
	.#{$button-prefix}-large {}
	.#{$button-prefix}-big {}
}



// =================
// EL BOTON
// =================
.#{$button-prefix}, [role="button"] {
	display: block;
	float: left;
	text-decoration: none;
	text-align: center;
	line-height: $button-height;
	font-size: $button-font-size; // 0.9em
	cursor: pointer;
	color: $button-default-text;
	// Border
	@if ( $button-has-border ) {
		border-width: $button-border-width;
		border-style: solid;
		border-color: $gray-border;
	} @else {
		border: 0;		
	}
	// Background
	@if ( $button-has-background ) {
		@include background( $button-default-bg );
		@include transition( background $button-transition-time ease );
	}
	@if ( $button-has-box-shadow ) {
		@include box-shadow( 0 $button-border-width 0 0 darken($button-default-bg, 25%) );
	}
	@include border-radius( $button-radius );
	*zoom: 1;
	&:hover, &:active {
		@if ( $button-has-background ) {
			background: darken($button-default-bg, 10%);
		}
	}
	@if ( $button-has-active-pseudo ) {
		&:active, &.active {
			@include transform( translateY( $button-pressed-offset ) );
			@include box-shadow( none );
		}
	}
	&:focus {
		outline: none;
	}
	&[disabled], &.disabled {
		color: #999;
		@include background( #f1f1f1 );
	}
	// Boton sin background
	&.#{$button-prefix}-clear {
		color: $text-color;
		&:active, &.active {
			@include transform( none );
		}
	}
	// No Style Button
	&.#{$button-prefix}-link {
		padding: 0;
		line-height: inherit;
		font-size: 0.9em;
		&:hover {
			text-decoration: underline;
		}
	}
	&.#{$button-prefix}-clear {
		&:hover {
			text-decoration: none;			
		}
	}
	&.#{$button-prefix}-clear, &.#{$button-prefix}-link {
		height: auto;
		outline: none;
		border: 0;
		@include background( transparent );
		@include box-shadow( none );
		@include text-shadow( none );
		&:hover {			
			@include background( transparent );
		}
		&:active {
			@include transform( none );
		}
		&[disabled], &.disabled {
			text-decoration: none;
			color: #999;
		}
	}
	&, a, button {	}
	// ALIGN
	&.#{$button-prefix}-inline-block, &.#{$button-prefix}-inline {
		float: none;
	}
	&.#{$button-prefix}-inline-block { 
		display: inline-block; 
	}
	&.#{$button-prefix}-inline { 
		display: inline; 
	}
}


// ============================
// BOTON CON F-ICON DENTRO
// ============================
.#{$button-prefix}, [role="button"] {
	.ficon, [class*="#{$bodoke-prefix}-icon"] {
		display: inline-block;
		font-style: normal;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		vertical-align: middle;
	}
	[class*="#{$bodoke-prefix}-icon"] {

	}
	.text {
		display: inline-block;
		vertical-align: middle;	
		font-size: 1em;	
	}
}