// _code.scss

pre, code {
	font-family: $courrier!important;
}

pre {
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	white-space: pre-wrap;       /* css-3 */
	-moz-tab-size:    4;
    -o-tab-size:      4;
    -webkit-tab-size: 4;
    -ms-tab-size:     4;
    tab-size:         4;
	@include border-radius(5px);
	@include background( hsl(0, 0, 90%) );
	border: 1px solid hsl(0, 0, 70%);
	padding: 10px 12px;
	overflow: auto;
	text-align: left;
	font-size: 12px;
	&:hover {
		position: relative;
		z-index: 99;
		@include box-shadow( 0 0 5px 1px $cyan );
	}
	span {
		display: inline-block;
		@for $tab from 1 through 5 {
			&.tab-#{$tab} {
				margin-left: 10px * $tab;
			}
		}
		&.folder {
			font-weight: 600;
			color: $blue;
		}
		&.com, &.comment {
			color: gray(160);
			font-style: italic;
		}
	}
}