////
/// _dropdown.scss
/// Stylesheet ready to use along with 'bdk-dropdown.js'
/// @group Components
/// @author [Diego Martin Marmol](http://twitter.com/dmmarmol)
/// @since 0.2
/// @example
/// <div class="item dropdown">
/// 	<div class="handler-item">
/// 		<a class="dropdown-item" href="link">
/// 			<i class="ficon fa-user"></i>
/// 			<span class="text">Dropdown text</span>
/// 		</a>
/// 		<div class="handler">
/// 			<i class="ficon fa-caret-down"></i> (font-awesome icon)
/// 		</div>
/// 	</div>
/// </div>
////

$bdk-dropdown:	'.dropdown';
$bdk-drop-height:	2.4em;
$bdk-drop-bg:		$black_90;
$bdk-drop-shadow:	black(0.6);
$bdk-drop-z-index:	(
	'list',
	'handler',
	'handler-item',
);

#{$bdk-dropdown} {
	list-style: none;
	position: relative;
	// min-width: 150px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: $text-color;
	background-color: $bdk-drop-bg;
	@include box-shadow( 0 1px 3px 0 $bdk-drop-shadow );
	.handler, .item {
		list-style: none;
		line-height: $bdk-drop-height;
		padding-left: $offset;
		padding-right: $offset;
		background-color: $google-gray;
	}
	li, .item {
		&:hover {
			// @include text-shadow( 0 1px 0 white(0.8) );
		}
	}
	.handler-item {
		padding-left: 0;
		padding-right: 0;
		background-color: transparent;
		line-height: $bdk-drop-height;
		z-index: z($bdk-drop-z-index, 'handler-item');
	}
	.handler {
		display: inline-block;
		position: relative;
		// background-color: $google-green;
		color: #FFF;
		@include text-shadow( 0 1px 0 black(0.7) );
		z-index: z($bdk-drop-z-index, 'handler');
		.icon {
			$x: floor( ( px($bdk-drop-height) - $icon-size ) / 2 ) - 1px;
			$y: floor( ( px($bdk-drop-height) - $icon-size ) / 2 ) - 1px;
			position: absolute;
			right: $x;
			top: $y;
		}
	}
	&:hover {
	}
	// List Items
	&.open {
		.handler-item {
			height: auto;
		}
		.list {
			display: block;
			opacity: 1;
			visibility: visible;
			@include transform( translateY( 0 ) );
		}
	}
	.list {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		@include transition( all 0.25s ease );
		@include transform( translateY( -3px ) );

		width: 100%;
		border-top: 1px solid $bdk-drop-shadow;
		@include box-shadow( 0 3px 3px 0 $bdk-drop-shadow );
		z-index: z($bdk-drop-z-index, 'list');
		a {
			display: block;
			color: $text-color;
			@include text-shadow( 0 1px 0 white(0.8) );
		}
	}
}

/// Responsive adaptation for mobile Mobile for the $bdk-dropdown
/// @group components
/// @since 0.2.3
@include mobile() {
	#{$bdk-dropdown} {
		.handler, .ficon, [class*='fa-'] {
			// position: absolute;
			// top: 0;
			// line-height: 1em;
			// height: auto;
		}
		// .ficon, [class*='fa-'] 	{ float: left; }
		// .dropdown-item 			{ float: left; }
		// .handler 				{ float: right; }
	}
}