////
/// _input.scss
///
/// @group Inputs
/// @author [Diego Martin Marmol](http://twitter.com/dmmarmol)
/// @since 0.2.8
////

$input-height: 				1.8em;
$input-padding-y:			( $input-height - ($input-height / 2) ) / 2.2;
$input-line-height: 		( $input-height - ($input-height / 2) );
$bdk-input-border-color: $gray-border;

/// Basic styling for all the input/textarea/select
/// @name bdk-input()
/// @since 0.3.0
@mixin bdk-input() {
	padding-top: $input-padding-y;
	padding-bottom: $input-padding-y;
	padding-right: $col-offset;
	padding-left: $col-offset;
	-webkit-appearance: none;
	position: relative;
	width: auto;
	font-size: 0.85em;
	font-weight: 300;	
	border: 1px solid $bdk-input-border-color;
	background: #FFF;	
	@include box-shadow( none );
	@include border-radius( 5px );
	@include placeholder {
		color: hsl(0, 0, 60%);
	}
}

// INPUTS
input, select, textarea,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
#{$bodoke-prefix}-input,
{
	@include bdk-input();
}


// INPUTS
input, select, textarea,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
#{$bodoke-prefix}-input,
// BUTTONS
button[type="submit"],
button[type="search"],
[role="button"],
{
	&:focus { 
		outline: none; 
	}
}


/// @name Labels
/// @group Form
/// @since 0.2.8
label {
	font-size: 0.8em;
	line-height: 1em;
	&[for] {
		cursor: pointer;
	}
}

/// @name Buttons
/// @group Form
/// @since 0.1.2
button {
	&:focus { outline: none; }
	&.button { border: none; }
}
input, select {
	line-height: $input-line-height;	
}
select {
	height: $input-height;
}
input {

}


// ================================
// REQUIREMENTS AND INFO
// ================================
sup, .sup {
		top: 0;
		color: $red;
		font-size: 14px;
	}
.q {
	position: relative;
	bottom: 3px;
	color: $bdk-input-border-color;
	font-size: 10px;
	font-weight: 600;
}


// ================================
// RADIO AND CHECK BUTTONS
// ================================
input[type="radio"],
input[type="checkbox"] {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	&:checked {
		border: 4px solid white;
		background-color: $color-1;
		border-color: #DADADA;
	}
}



/// @name bdk-group-label
/// @since 0.3.0
/// General styles for the <label> tag when it's inside an '.input-group' / '.input-horizontal'
/// Sets the height (same as the inputs) and inner spacing
@mixin bdk-group-label() {
	line-height: $input-height / 1.15;
	padding-right: $offset / 2;
	font-weight: 500;
}

// ================================
// INPUT STRUCTURE
// ================================
/// @type integer
$input-offset:	1em;
.input-row {
	margin-bottom: $input-offset;
	@include clear;
	.label-title {
		color: $text-color;
		margin-top: 0;
		margin-bottom: 0;
	}
	&.input-horizontal {
		width: 100%;
		position: relative;
		label, input, select, textarea,
		#{$bodoke-prefix}-input, {
			display: inline-block;
			vertical-align: middle;
			margin-left: -0.3em;
		}
		label {		
			@include bdk-group-label();
			width: 25%;
			text-align: right;
		}
		input, select, textarea,
		#{$bodoke-prefix}-input, {
			width: 75%;
		}
	}
	&.input-vertical {
		label {
			display: block;
			margin-bottom: 1em;
		}
	}
}


/* 
 * Si funciona como columnas
 */
.input-row {
	&.cols {
		padding-left: $grid-offset / 2;
		padding-right: $grid-offset / 2;
		&.c#{$grid-columns}-#{$grid-columns} {
			padding-left: $grid-offset / 1.5;
			padding-right: $grid-offset / 1.5;
		}
	}	
}


@include mobile() {
	.input-row {
		&.input-horizontal {
			label, input, select, textarea,
			#{$bodoke-prefix}-input, {		
				width: 100%;
				display: block;
			}
			label {
				margin-bottom: 0.3em;
				text-align: left;
			}
		}
	}
}


.input-box {
	padding-top: $input-offset;
}


// ================================
// OPTIONAL & REQUIRED
// ================================
$optional-text-color: gray(150);
.input-row {
	&.input-optional {
		label { color: $optional-text-color; }
		input, textarea {
			@include placeholder() {
				color: $optional-text-color;				
			}
		}		
		select {
			option:first-child, option[selected] {
				color: $optional-text-color;			
			}
		}
	}
	&.input-required {
		label { color: $text-color; }
		input, textarea {
			@include placeholder() {
				color: $text-color;				
			}
		}
		select {
			color: $text-color;
			option:first-child, option[selected] {
			}
		}
	}
}

.optional-comment {
	text-align: center;
	color: $optional-text-color;
	font-size: 0.9em;
	padding-top: $col-offset;
	padding-bottom: $col-offset;
}


//
/// @name Input group
/// Group of inputs inside a div that fits togheter leaving no spaces between them
//
.input-group {
	input, button, [role="button"], .#{$button-prefix}, textarea, select, label {
		display: inline-block;
		vertical-align: middle;
		float: none;
		margin-left: -0.4em;
		&:first-child {
			@include border-radius( $button-radius 0 0 $button-radius );
			border-right: none;
			margin-left: 0;
		}
		&:last-child {
			@include border-radius( 0 $button-radius $button-radius 0 );
			border-left: none;
		}
	}
	label {
		&:first-child {
			border-right: 1px solid $bdk-input-border-color;			
		}
		@include bdk-input();
		@include bdk-group-label();
		line-height: 1.175em;
	}
}


// ================================
// ESTADOS
// ================================
// INPUTS
input,
select,
textarea,
button,
#{$bodoke-prefix}-input,
[role="button"] {
	&[onclick],
	&[mouseover],
	&[mouseout] {
		cursor: pointer;
	}
	&[disabled],
	&[disable],
	&[readonly] {
		cursor: default;
		background-color: $bdk-input-border-color;
		border-color: darken( $bdk-input-border-color, 10% );
		color: gray(100);
		@include text-shadow( 1px 0 0 white(0.9) );
	}		
}