////
/// Styling for the lightbox and the blackout.
/// The functionality can be found at 'js/bdk-lightbox.js'
/// @group Lightbox
/// @author [Diego Martin Marmol](http://twitter.com/dmmarmol)
/// @example
/// <div id="bdk-blackout">
/// 	<div class="bdk-lightbox" id="bdk-lightbox-lightbox-id">
/// 		<div class="close" title="{% trans 'Cerrar' %}" onclick='refreshIframeOnClose("send_message_iframe")'>
/// 		    <i class="ficon fa-times"></i>
/// 		</div>
/// 		<div>
///				<!-- // Some random content! -->
/// 		</div>
/// 	</div>
/// </div>
////

/// Blackout name
/// @type String $bdk-blackout ['#bdk-blackout'] - Blackout Id
$bdk-blackout:					'##{$bodoke-prefix}-blackout';
/// Lightbox
/// @type String $bdk-lightbox ['.bdk-lightbox'] - Lightbox classname
$bdk-lightbox:					'.#{$bodoke-prefix}-lightbox';
/// Lightbox
/// @type String $bdk-lightbox-open-class ['.bdk-active'] - Classname for the body when the lightbox is open
$bdk-lightbox-open-class:		'#{$bdk-lightbox}-active';
/// Close Icon size
/// @type Integer $bdk-close-icon-size [32px] - Size (width & height) for the .close icon
$bdk-close-icon-size: 			32px;
/// Close Icon border-width
/// @type Integer $bdk-close-icon-border-size [2px] - border-width for the .close icon
$bdk-close-icon-border-size: 	2px;

//
/// #blackout
/// There should be only one at the bottom of the file
/// Just over the closed <body> tag.
/// It must contain all the .bdk-lighbox elements.
//
#{$bdk-blackout} {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 500;
	@include bdk-background( black, 0.5);
	// @include bdk-background( white, 0.8);
	@include transition(all $transition-speed ease);
}

// 
/// This activates the blackout
/// (The class toggle functionality is on the 'js/bdk-lightbox.js' file)
//
#{$bdk-lightbox-open-class} {
	overflow: hidden;
	#{$bdk-blackout} { 
		display: block; 
	}
}

//
/// The lightbox element
/// '.bdk-lightbox' - Contains all the data
/// Every type of data is available. The HTML is the limit!
//
#{$bdk-lightbox} {
	display: none;
	position: absolute;
	right: 0;
	width: 100%;
	background: white();
	@include opacity(1);
	@include border-radius(0 0 3px 3px);
	@include box-shadow(
		0 0 14px 0 black(0.75),
		0 3px 0 0 rgba($red, 0.9)
	);
	// padding-top: $col-offset * 2;
	// padding-bottom: $col-offset * 3;
	// padding-right: $col-offset * 3;
	// padding-left: $col-offset * 3;
	.close {
		position: absolute;
		right: -$bdk-close-icon-size / 2;
		top: -$bdk-close-icon-size / 2;
		width: $bdk-close-icon-size;
		height: $bdk-close-icon-size;
		text-align: center;
		border: $bdk-close-icon-border-size solid #FAFAFA;
		cursor: pointer;
		@include border-radius(50%);
		@include box-shadow( 0 1px 1px 0 black(0.6) );
		@include bdk-background( black, .9);
		@include fa {
			font-size: ($icon-size / 2) + 2px;
			line-height: $bdk-close-icon-size - ($bdk-close-icon-border-size * 2); // 
			display: block;
			color: white;
		}
		z-index: 9999;
	}
}


//
/// @name Lightbox media
/// media elements inside the $bdk-lightbox
//
#{$bdk-lightbox} {
	iframe {
		width: 100%;
	}
}


//
/// @name Lightbox alert
/// media elements inside the $bdk-lightbox
//
#{$bdk-lightbox} {
	.alert {
		width: 30%;
		display: block;
		float: none;
		bottom: 3em;
  		text-align: center;
		@include h-center;
		.text {
			width: 100%;
			display: block;
		}
		.ficon {
			@include animation( spin $animation-duration, true );
		}
	}
}


//
/// Media query rules for the lightboxes
//
@include mobile() {
	#{$bdk-lightbox} {
		min-width: initial;
		max-width: 100%;
	}
	#{$bdk-lightbox} {
		.close {
			right: $bdk-close-icon-size / 2;
			top: $bdk-close-icon-size / 2;
		}
	}
}