////
/// Stylize the native HTML lists (<ul>, <ol> and <li>) cleaning their aspect and giving them a basic design
/// @group Component
/// @file _list.scss
/// @since 0.2.8
/// @author [Diego Martin Marmol](http://twitter.com/dmmarmol)
////

$bdk-item-class:		'.item';
$wordpress-item-class:	'.menu-item'; // Agregado para wordpress (tiene que ir con punto)

@mixin list() {
	@include clear();
	list-style: none;
}


/// Mixin that set the clases for the items alignment inside a .list
/// @name List items align
/// @param {string} $item-class It should include the dot '.'
@mixin list-items-align($item-class:'') {
	/// Vertical
	&, &.list-vertical, &.list-vert {			
		// margin: 0;
		padding-left: 0;
		&.container {
			margin-left: auto;
			margin-right: auto;
		}
		#{$bdk-item-class}, #{$wordpress-item-class} {
			margin: 0;
			display: block;
			float: none;
		}
	}

	/// Inlined
	&.left-horizontal, &.left-horz {
		text-align: left;
		#{$bdk-item-class}, #{$wordpress-item-class}, li, #{$item-class} { }
	}
	&.right-horizontal, &.right-horz {
		text-align: right;
		#{$bdk-item-class}, #{$wordpress-item-class}, li, #{$item-class} { }
	}
	&.list-centered {
		text-align: center;
		#{$bdk-item-class}, #{$wordpress-item-class}, li, #{$item-class} {
			float: none;
			display: inline-block;				
		}
	}
	&.list-inline-block {
		display: inline-block;
		#{$bdk-item-class}, #{$wordpress-item-class}, li, #{$item-class} {
			display: inline-block;
			margin-left: -0.3em; // inline-block gap fallback
			&:first-child { margin-left: 0; }
		}
		&.list-separated {
			#{$bdk-item-class}, #{$wordpress-item-class}, li, #{$item-class} {
				margin-left: initial; // inline-block gap fallback					
			}
		}
	}

	/// Floated
	&.float-left-horizontal, &.float-left-horz {
		#{$bdk-item-class}, #{$wordpress-item-class}, li, #{$item-class} { 
			float: left; 
		}
	}		
	&.float-right-horizontal, &.float-right-horz {
		#{$bdk-item-class}, #{$wordpress-item-class}, li, #{$item-class} { 
			float: right; 
		}
	}
}

.list {
	@include list();
	margin-top: 0;
	margin-bottom: 0;
	//
	// Set the List items align @mixin
	//
	@include list-items-align();

	#{$bdk-item-class}, #{$wordpress-item-class}, li {
		@include clear();
	}
}	
// Si esta especificada la direccion
// en la que fluye el texto en el body
[dir="rtl"] {
	&.list-inline-block {
		text-align: right;
	}		
}
[dir="ltr"], [dir=""]  {
	&.list-inline-block {
		text-align: left;
	}		
}