/**
 * _list.scss
 *
 * Stylize the native HTML lists (<ul>, <ol> and <li>) cleaning their aspect
 * and giving them a basic design
 *
 * @since 0.1
 */

$bdk-item-class:		'.item';
$wordpress-item-class:	'.menu-item'; // Agregado para wordpress (tiene que ir con punto)

@mixin list() {
	@include clear();
	list-style: none;
}

@mixin bdk-list() {
	.list {
		@include list();
		margin-top: 0;
		margin-bottom: 0;
		&, &.list-vertical, &.list-vert {			
			// margin: 0;
			padding-left: 0;
			&.container {
				margin-left: auto;
				margin-right: auto;
			}
			#{$bdk-item-class}, #{$wordpress-item-class} {
				margin: 0;
				display: block;
				float: none;
			}
		}
		&.left-horizontal, &.left-horz {
			#{$bdk-item-class}, #{$wordpress-item-class}, li {
				float: left; 
			}
		}
		&.right-horizontal, &.right-horz {
			#{$bdk-item-class}, #{$wordpress-item-class}, li { 
				float: right; 
			}
		}
		&.list-centered {
			text-align: center;
			#{$bdk-item-class}, #{$wordpress-item-class}, li {
				float: none;
				display: inline-block;				
			}
		}
		&.list-inline-block {
			display: inline-block;
			#{$bdk-item-class}, #{$wordpress-item-class}, li {
				display: inline-block;
				margin-left: -0.3em; // inline-block gap fallback
				&:first-child { margin-left: 0; }
			}
			&.list-separated {
				#{$bdk-item-class}, #{$wordpress-item-class}, li {
					margin-left: initial; // inline-block gap fallback					
				}
			}
		}
		#{$bdk-item-class}, #{$wordpress-item-class}, li {
			@include clear();
		}
	}	
	// Si esta especificada la direccion
	// en la que fluye el texto en el body
	[dir="rtl"] {
		&.list-inline-block {
			text-align: right;
		}		
	}
	[dir="ltr"], [dir=""]  {
		&.list-inline-block {
			text-align: left;
		}		
	}
}

// Crea las listas
@include bdk-list();