// _menu.scss

nav {
	ul, ol {
		list-style: none;
		list-style-type: none;
		list-style-image: none;
		padding: 0;
		margin: 0;
	}
}

@mixin bdk-menu() {
	.menu {
		position: relative;
		display: block;
		// width: 100%;
		padding: 0;
		margin:0;
		list-style-type: none;
		list-style-image: none;
		ul, ol, nav {
			margin: 0; padding: 0;
		}
		// Position
		&.menu-fixed 		{ 
			position: fixed;
			top: 0;
			left: 0;
		}
		&.menu-absolute		{ position: absolute; }			
		&.menu-static		{ position: static; }			
		// Coordinates
		&.menu-top 			{ top: 0; }
		&.menu-left 		{ left: 0; }
		&.menu-bottom 		{ bottom: 0; }
		&.menu-right 		{ right: 0; }
	}	
}

@include bdk-menu();