////
/// _off-canvas.scss
/// Stylesheet ready to use along with 'bdk-offcanvas.js'
////

$content_element: 		'#site-wrapper';
$nav_element: 			'#site-nav';
$nav_element_inner:		'.container';
$menu_button: 			'#offcanvas-button';
$active_class: 			'.site-nav-open';

$site-nav-drawer-width: 75%;

#{$nav_element},
#{$content_element} { overflow-y: scroll; }

#{$menu_button} {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
	border: none;
	background: #333;
	width: 44px;
	height: 44px;
	padding: 0 1em;
	outline: none;
	cursor: pointer;
	margin: 0;
	opacity: 1;
	transition: opacity .3s ease-out .3s;

	@media all and (min-width: 768px) { position: fixed; }

	span {
		&, &:before, &:after {
			position: relative;
			display: block;
			background-color: white;
			width: 100%;
			height: 2px;
		}  	
		&:before, &:after {
			position: absolute;
			left: 0;
			content: "";
		}
		&:before { margin-top: -6px; }
		&:after { margin-top: 6px; }
	}  
}

#{$active_class} #{$menu_button} {
	// @include transform( translate3d($site-nav-drawer-width * -1,0,0) );
	// pointer-events: none;
	// opacity: 0;
	// @include transition(none);
}

#{$nav_element} #{$nav_element_inner} {
	position: fixed;
	width: $site-nav-drawer-width;
	padding: $em-offset 0;
}

#{$nav_element} #{$nav_element_inner} ul { list-style: none; }

#{$nav_element} #{$nav_element_inner} a {
	display: block;
	font-weight: bold;
	text-decoration: none;

	&:hover { color: white(); }
}

#{$content_element} {
	background: #fff;
	@include transform( translate3d(0,0,0) );
	@include transition( transform .2s cubic-bezier(0.2,0.3,0.25,0.9) );

	#{$active_class} & { 
		@include transform( translate3d($site-nav-drawer-width,0,0) );
	}
}


#{$nav_element}			{ z-index: 5; }
#{$content_element}		{ z-index: 10; }
.offcanvas.navigation 	{ z-index: 15; }