@mixin grid-media-query( $media-type, $columns ) {

	.container {
		.medium {}
		.mobile {}
		.tablet {}
	}
	

	// Grilla para tablets y pantallas < 800
	// =====================================
	// @if ( $media-type != $grid-mobile-prefix ) {
	// 	.row {}
	// 	.col, .cols, .column, .columns {
	// 		// Clase que permite colapsar la columna segun el dispositivo
	// 		&.#{$media-type}fall {
	// 			@include fall();
	// 		}
	// 	}		
	// }


	// Columnas que no colapsan en tablets
	// ====================================
	@include generate-cols( $columns, $media-type );
	@include generate-push( $columns, $media-type, '-' );
	@include generate-pull( $columns, $media-type, '-' );

	.row {
		&.#{$media-type}-collapse {
			margin-right: 0;
			margin-left: 0;
		}
		&.#{$media-type}-collapse-right { margin-left: 0; }
		&.#{$media-type}-collapse-left 	{ margin-right: 0; }
	}

	.col, .cols, .column, .columns {
		&.#{$media-type}-collapse { 
			padding-left: 0;
			padding-right: 0;
		}
		&.#{$media-type}-collapse-right { padding-right: 0; }
		&.#{$media-type}-collapse-left { padding-left: 0; }
	}

	// Estructura
	// =====================
	@if ( $media-type == $grid-tablet-prefix ) {
		.#{$media-type}-center, 
		[class="$grid-push-right-prefix"], 
		[class="$grid-push-left-prefix"] {
			margin-left: auto;
			margin-right: auto;
			float: none;
			display: block;
		}
	} @else {
		.#{$media-type}-center {
			margin-left: auto;
			margin-right: auto;
			float: none;
			display: block;
		}
	}
	.#{$media-type}-a-center {
		display: block;
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		margin: auto;
	}
	.#{$media-type}-v-center {
		display: block;
		position: absolute;
		top: 0; right: auto; bottom: 0; left: auto;
		margin: auto;
		float: none;
	}

	// Texto
	// =====================
	.#{$media-type}-left-text 			{ text-align: left; }
	.#{$media-type}-center-text 		{ text-align: center; }

	// Alturas
	// =====================
	.#{$media-type}-height-auto 		{ height: auto; }
	.#{$media-type}-fh 					{ height: 100%; }

	// Alineamiento
	// =====================
	.#{$media-type}-left 				{ float: left; }
	.#{$media-type}-right 				{ float: right; }
	.#{$media-type}-no-float 			{ float: none; }
	.hide-#{$media-type} 				{ display: none!important; }
	.show-#{$media-type} 				{ display: block!important; }
	.show-inline-#{$media-type} 		{ display: inline!important; }
	.show-inline-block-#{$media-type}	{ display: inline-block!important; }
}
