// _grid-tablet.scss


.container {
	// width: 720px;
	// padding-left: $col-offset;
	// padding-right: $col-offset;
	&.tablet {}
}

// =========================
// Tablet Columns
// =========================
.col, .cols, .column, .columns {
	display: block;
	// width: col-width(12);
}


@include grid(12, '.tablet');	
.tablet {
	& {}
}

.offset-one, .offset-two, .offset-three,
.offset-four, .offset-five, .offset-six,
.offset-seven, .offset-eight, .offset-nine,
.offset-ten, .offset-eleven { 
	margin-left: none; 
}
.pull-one, .pull-two, .pull-thre,
.pull-four, .pull-five, .pull-six,
.pull-seve, .pull-eigh, .pull-nine,
.pull-ten, .pull-eleven {
	right: none;
}
.row {}

// =====================
// Site Structure
// =====================


.tablet-center {
	margin-left: auto;
	margin-right: auto;
	float: none;
	display: block;
}
.tablet-a-center {
	display: block;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
}
.tablet-center-text {
	text-align: center;
}


// =============================
// Align Class
// =============================
.tablet-left {
	float: left;
}
.tablet-right {
	float: right;
}
.tablet-no-float {
	float: none;
}
.no-tablet {
	display: none;
}
.show-tablet {
	display: block;
}