//
// _reset.scss
// Reset Stylesheet
//

// General Resets
*:focus {
	outline: none;
}

// =====================
// Iframe
// =====================
iframe {
	display: block;
	border: none;
	background-color: transparent;
}
[onclick] {
	cursor: pointer;
}
