////
/// _reset.scss
/// Reset Stylesheet
///
/// @group Reset
/// @author [Diego Martin Marmol](http://twitter.com/dmmarmol)
////

/// Viewport meta valid for the W3C 
@viewport{
    zoom: 1.0;
    width: device-width;
}


a {
	text-decoration: none;
	color: inherit;
}
hr {
	height: 0px;
	border: none;
	border-top: 1px solid $gray-border;
	margin: 1em 0;
}

// General Resets
*:focus {
	outline: none;
}

// =====================
// Iframe
// =====================
iframe {
	display: block;
	border: none;
	background-color: transparent;
}
[onclick] {
	cursor: pointer;
}


