/*
 * _reset.scss
 *
 * Reset Stylesheet
*/

// General Resets
*:focus {
	outline: none;
}
a {
	text-decoration: none;
	color: inherit;
}

// =====================
// Iframe
// =====================
iframe {
	display: block;
	border: none;
	background-color: transparent;
}
[onclick] {
	cursor: pointer;
}
