// colors.scss

// ======================
// COLORS
// ======================
// Borde Gris 			- #D2D2D2
// Borde Gris Claro		- #ECECEC
// Celeste oscuro		- #5093CC
// Celeste 				- #69afeb
// Rojo 				- #dd4a3a
// Amarillo 			- #fcb608
// Verde 				- #00a25f



// ======================
// GRAYSCALE
// ======================
$black_15:			hsl(0, 0, 15%);
$black_20:			hsl(0, 0, 20%); // dark-gray
$black_27:			hsl(0, 0, 27%); // #444
$black_60:			hsl(0, 0, 60%);
$black_65:			hsl(0, 0, 65%); // gray
$black_82:			hsl(0, 0, 82%); // light-gray
$black_90:			hsl(0, 0, 90%);
$black_95:			hsl(0, 0, 95%);
$black_97:			hsl(0, 0, 97%);

$white:				hsl(0, 0, 98%);

$gray:				$black_95;
$gray-border:		hsl(0, 0, 90%);
$gray-dark:			hsl(0, 0, 40%);
$gray-light:		hsl(0, 0, 80%);

// ======================
// HOT COLORS
// ======================
$red: 				#dd4a3a;
$yellow: 			#fcb608;
$orange:			#ff9900;


// ======================
// COLD COLORS
// ======================
$cyan: 				#69afeb;
$dark-blue:			#37477D;
$green: 			#639728; // #649827;
$pale-blue:			#07A3AA;
$navy-blue:			#1079bb; // La Caja
$blue:				#2362ff;
$light-blue:		#55a0cf;
// $blue:				dark($navy-blue);



$google-gray:		$gray;
$google-blue:		#2362ff;
$google-red: 		$red;
$google-yellow:		$yellow;
$google-green: 		#00a25f;


// ======================
// FULL COLOR PALLETE
// ======================
// (class, color)
$color-pallete:	(
	('white', 		white), 
	('yellow', 		$google-yellow), 
	('blue', 		$blue),
	('red', 		$google-red),
	('green', 		$green),
	('pale-blue', 	$pale-blue),
	('light-gray', 	#fafafa),
	('gray', 		$google-gray),
	('dark-gray', 	$gray-dark)
);


// ==============================
// SOCIAL NETWORK COLOR PALLETE
// ==============================
$social-color-pallete: (
	('facebook', 		rgb(59, 89, 152) ),
	('twitter', 		rgb(0, 172, 237) ),
	('google-plus',		rgb(221, 75, 57) ),
	('youtube', 		rgb(187, 0, 0) ),
	('linkedin', 		rgb(0, 123, 182) ),
	('instagram', 		rgb(81, 127, 164) ),
	('pinterest', 		rgb(203, 32, 39) ),
	('vine', 			rgb(0, 191, 143) ),
	('snapchat', 		rgb(255, 252, 0) ),
	('quora', 			rgb(168, 36, 0) ),
	('flickr', 			rgb(255, 0, 132) ),
	('tumblr', 			rgb(50, 80, 109) ),
	('vk', 				rgb(69, 102, 142) ),
	('vimeo', 			rgb(170, 212, 80) ),
	('foursquare', 		rgb(0, 114, 177) ),
);


// ======================
// BUTTON COLOR PALLETE
// ======================
// (class, color)
$buttons-color-pallete:	(
	('yellow', 		$google-yellow), 
	('blue', 		$light-blue),
	('dark-blue', 	$blue),
	('red', 		$google-red),
	('green', 		$green),
	('gray', 		$google-gray),
	('dark', 		#373737),
	('white', 		white)
);


// ======================
// TITLES COLOR PALLETE
// ======================
// (class, color)
$titles-color-pallete:	(
	('yellow', 		$google-yellow), 
	('blue', 		$blue),
	('red', 		$google-red),
	('green', 		$green),
	('gray', 		$google-gray)
);


// ======================
// TABLES COLOR PALLETE
// ======================
// (class, color)
$tables-color-pallete:	(
	('yellow', 		$google-yellow), 
	('blue', 		$blue),
	('red', 		$google-red),
	('green', 		$green),
	('gray', 		$google-gray)
);


// ======================
// ALERTAS
// ======================
$alerts-color-pallete: (
	('warning', $red),
	('alert', $yellow),
	('success', c('green') ),
	('error', c('red') ),
	('quiet', gray(225) ),
);



// ======================
// INSTITUCIONAL
// ======================
$institutional-color-pallete: (
	('white', white)
);

// ======================
// TEXTOS
// ======================
// Texto Negro 			- #3B3B3B
// Texto Negro 			- #444
// Texto Gris 			- #91959C
$text-color:			$black_20;



/**
 * COLOR CLASESS
 */
// Background Colors
@each $color in $color-pallete {
	.bg-#{nth($color, 1)} {
		background-color: nth($color, 2);
	}
}
// Text Colors
@each $color in $color-pallete {
	.text-#{nth($color, 1)} {
		color: nth($color, 2);					
	}
}

// ==============================
// COLORES GENERALES APLICADOS
// ==============================
$color-1:	$cyan;		// Primer color corporativo 
$color-2:	$black_82;  // Segundo color corporativo
$color-3:	$black_20; 	// Color del texto

// Links
// a { 
// 	color: $color-1;
// }
// Reglas horizontales
// hr { 
// 	background-color: $color-2;
// }
// Seleccion con el cursor
::-moz-selection, ::selection {
	background: $color-2;
	color: #FFF;
	text-shadow: 1px solid black(0.2);
}