// _fonts.scss

// ==============================
// FUENTES
// ==============================


// Lista de fuentes para utilizar
// ==============================
$open-sans:				'Open Sans', sans-serif;
$open-sans-condensed:	'Open Sans Condensed', sans-serif;
$fjalla-one:			'Fjalla One', sans-serif;
$courrier:				'Courrier', 'courrier new', monospace;
$lucida-sans:			'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
$verdana:				Verdana, Helvetica, Geneva, sans-serif;
$fontAwesome:			'FontAwesome', sans-serif;
$arabic:				'Noto Kufi Arabic', serif;
$arabic-light:			'Noto Naskh Arabic', serif;

$bodoke-font:			'Bodoke';

$text-font:				$open-sans;
$alt-font:				$verdana; 			// Alternative font
$number-font:			$lucida-sans;
$text-condensed:		$fjalla-one;


// ======================
// FUENTES / TIPOGRAFIA
// ======================
$global-font:			$text-font;
$global-font-size:		$base-em;
$icon-font:				$fontAwesome;

// Carga las fuentes
// ==============================
// @include font-face( 'Bodoke', font-files('Bodoke.tff', 'ttf'), $FONTPATH );
// @font-face {
// 	font-family: $bodoke-font;
// 	src: url($FONTPATH+'Bodoke.tff');
// 	src: url($FONTPATH+'Bodoke.tff') format('eot'), url($FONTPATH+'Bodoke.tff') format('truetype');
// }

// // fontawesome - remote
// @import url(http://weloveiconfonts.com/api/?family=fontawesome); // Font Awesome
// [class*="fontawesome-"]:before {
// 	font-family: 'FontAwesome', sans-serif;
// 	font-style: normal;
// }


// ==============================
// Icon fonts
// ==============================
// FontAwesome
$fa-font-path:			$FONTPATH;
$fa-css-prefix:			'fa';
$fa-version:			'4.2.0';

@font-face {
	font-family: 'FontAwesome';
	src: url('#{$fa-font-path}fontawesome-webfont.eot?v=#{$fa-version}');
	src: url('#{$fa-font-path}fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
		 url('#{$fa-font-path}fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
		 url('#{$fa-font-path}fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
		 url('#{$fa-font-path}fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
	//src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
	font-weight: normal;
	font-style: normal;
}

// Font Icons
[class*="#{$fa-css-prefix}"]:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	// line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@import "../component/font-icons-variables";
@import "../component/font-icons";


@mixin fa {
	[class*=#{$fa-css-prefix}] {
		@content;
	}
}

// 0.1.3
// @mixin renombrado a "ficon()"
// Por default apunta a todas las clases con prefijo "fa-"
// Puede extenderse a "bdk-icon-" para iconos propios (custom build)
@mixin ficon($bdk-icon:false) {
	@if ( $bdk-icon ) {
		[class*="#{$fa-css-prefix}"], [class*="#{$bodoke-prefix}-icon"] {
			@content;
		}
	} @else {
		[class*="#{$fa-css-prefix}"] {
			@content;
		}		
	}
}


// Arabic font
// ========================
@if ( $text-font == $arabic ) {
	@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);
} @elseif ( $text-font == $arabic-light ) {
	@import url(http://fonts.googleapis.com/earlyaccess/notonaskharabic.css);
}