// _fonts.scss

// ==============================
// FUENTES
// ==============================


// Lista de fuentes para utilizar
// ==============================
$open-sans:				'Open Sans', sans-serif;
$open-sans-condensed:	'Open Sans Condensed', sans-serif;
$fjalla-one:			'Fjalla One', sans-serif;
$courrier:				'Courrier', 'courrier new', monospace;
$lucida-sans:			'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
$verdana:				Verdana, Helvetica, Geneva, sans-serif;
$fontAwesome:			'FontAwesome', sans-serif;

$bodoke-font:			'Bodoke';

$text-font:				$verdana;
$number-font:			$lucida-sans;
$text-condensed:		$fjalla-one;


// ======================
// FUENTES / TIPOGRAFIA
// ======================
$global-font:			$text-font;
$global-font-size:		14px;
$icon-font:				$fontAwesome;

// Carga las fuentes
// ==============================
// @include font-face( 'Bodoke', font-files('Bodoke.tff', 'ttf'), $FONTPATH );
@font-face {
	font-family: $bodoke-font;
	src: url($FONTPATH+'Bodoke.tff');
	src: url($FONTPATH+'Bodoke.tff') format('eot'), url($FONTPATH+'Bodoke.tff') format('truetype');
}


// ==============================
// Icon fonts
// ==============================
// FontAwesome
@import "../object/fontawesome";


