////
/// Helper clases - List of utility components & classes
/// that aren complex enough to have it's own stylesheet
/// @group Helpers
/// @filename _helpers.scss
////

$loading-text:			'Cargando';
$loading-size:			32px;
$loading-top-offset:	70px;

.loading {
	background-image: img('loader01.gif');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: $loading-size $loading-size;
	height: 100%;
	position: relative;
	min-height: $loading-size * 4;
	&:before {
		content: $loading-text'...'!important;
		position: absolute!important;
		height: $loading-size / 2;
		margin: auto;
		left: 0; right: 0; bottom: 0; top: $loading-top-offset;
		width: 100px!important;
		font-size: 0.8em;
		font-weight: bold;
		text-align: center;
		color: gray(40);
		overflow: hidden;
	}
	.fade-container {
		opacity: 1;
		position: relative;
		min-height: 300px;
	}
}


// ====================
// PANELES
// ====================
.panel {
	position: relative;
	background-color: $black_95;
	border: 1px solid hsl(0, 0, 90%);
	@include border-radius( 5px );
	padding-top: $col-offset / 2;
	padding-bottom: $col-offset / 2;		
	padding-left: $col-offset / 2;
	padding-right: $col-offset / 2;		
	&.cols, &.cols, &.column, &.columns {
		padding-left: $col-offset;
		padding-right: $col-offset;
	}
}
@include mobile() {
	.panel {
		&.cols, &.cols, &.column, &.columns {
			padding-left: $m-offset;
			padding-right: $m-offset;
		}
	}
}
[class*="-panel"] {
	z-index: 100;
	.message {
		width: 100%;
		margin: 0;
		margin-bottom: $col-offset;
		padding-top: $col-offset;
		padding-bottom: $col-offset;
		text-align: center;
		font-family: $courrier;
		font-weight: 300;
		font-size: 12px;
		line-height: 14px;
	}
}

/*
 * Error panel
 */
$error-arrow-directions: ('up', 'right', 'down', 'left');
.#{$bodoke-prefix}-error {
	.error-panel {
		position: relative;
		@include border-radius( 5px );
		@include transition( 
			opacity $transition-speed ease,
			background $transition-speed ease
		);
		// Fondo por default
		background-color: hsl(0, 0, 80%); 
		// Colores para el alert/error
		@each $alert in $alerts-color-pallete {
			&.#{nth( $alert, 1 )} {
				background-color: nth($alert, 2);
				// Flechitas
				&.arrow {
					@each $direction in $error-arrow-directions {
						&.#{$direction} {
							@include arrow(nth($alert, 2), 8px, $direction);					
						}
					}
				}
			}
			.message {
				@if lightness( nth($alert,2) ) > lightness(#aaa) {
					color: $text-color;
				} @else {
					color: white();
				}
			}
		}		
	}
}
.clean-panel {
	display: block;
	padding-top: $col-offset * 3;
	padding-bottom: $col-offset * 3;
	padding-left: $col-offset;
	padding-right: $col-offset;
	color: gray(100);
	background-color: c('gray');
	@include border-radius( 5px );
	@include text-shadow(0 1px 0 white(0.8) );		
}



// =============================
// ALIGNMENT CLASSES
// =============================
.float-left, .left { float: left!important; }

.float-right, .right { float: right!important; }

// Float if [dir]
[dir="ltr"] .float-dir { float: left; }
[dir="rtl"] .float-dir { float: right; }
// Float if [dir] but inverse
[dir="ltr"] .float-dir-inv { float: right; }
[dir="rtl"] .float-dir-inv { float: left; }

// Align box if [dir]
[dir="ltr"] .inline-block-dir { display: inline-block; text-align: left; }
[dir="rtl"] .inline-block-dir { display: inline-block; text-align: right; }
// Align box if [dir] but inverse
[dir="ltr"] .inline-block-dir-inv { display: inline-block; text-align: right; }
[dir="rtl"] .inline-block-dir-inv { display: inline-block; text-align: left; }

// Align text if [dir]
[dir="ltr"] .text-dir { text-align: left; }
[dir="rtl"] .text-dir { text-align: right; }
// Align text if [dir] but inverse
[dir="ltr"] .text-dir-inv { text-align: right; }
[dir="rtl"] .text-dir-inv { text-align: left; }




.center {
	display: block!important;
	margin-left: auto;
	margin-right: auto;
	float: none!important;
}
.a-center {
	display: block;
	position: absolute!important;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto!important;
	float: none!important;
}
.v-center {
	display: block;
	position: absolute;
	top: 0; right: auto; bottom: 0; left: auto;
	margin: auto;
	float: none;
}
.h-center {
	@include h-center();
}


// ====================
// TEXT
// ====================
.inline {
	display: inline;
	float: none;
}
.strong, .bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.center-text {
	text-align: center;
}
.right-text {
	text-align: right; 
}
.left-text {
	text-align: left; 
}
.upcase-text {
	text-transform: uppercase;
}




// =============================
// OBJECT BEHAVIOR
// =============================
.block {
	display: block;
}
.inline-block {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
.clear-both {
	clear: both;
	float: none;
}



// ==============================
// OBJECT VISIBILITY
// ==============================
.none, [hidden], .hidden, .hide, .no-desktop {
	display: none!important;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}


.invisible { visibility: hidden; }

.transparent { @include opacity(0); }

.visuallyvisible {
	clip: auto;
	width: auto;
	height: auto;
	overflow: visible;
	left: 0;
}
.fh, .full-height {
	height: 100%;
}



// ====================
// IMAGES
// ====================



// ====================
// Micro Clearfix
// ====================
.clear, .clearfix {
	*zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}



// ====================
// CAJAS DE COLORES
// ====================



// Alert
.alert {
	display: block;
	// background-color: #ffc;
	// padding: 8px;
	// @include border-radius( 5px );
}
@each $alert in $alerts-color-pallete {
	.#{nth( $alert, 1 )} {
		background-color: nth($alert, 2);
		@if lightness( nth($alert,2) ) > lightness(#aaa) {
			color: $text-color;
		} @else {
			color: white();
		}
	}
}




// ==========================================================================
// Tablet Devices (Layout, Modifications, etc)
// ==========================================================================
@media only screen and (min-width: 720px) and (max-width: 999px) {
	
}