//// 
/// _bodoke-fontastic-icons.scss
///
/// Custom Bodoke icon-font list
/// @see www.fontastic.com
/// @see <link href="https://fontastic.s3.amazonaws.com/cCcPVUj4RPmeSJ4UQ989MA/icons.css" rel="stylesheet">
//// 

// Prepend a dot '.' to the variable in order to make it a CSS class
$bdk-icon-font-prefix: 		'.#{$bdk-icon-font-prefix}';


// #{$bdk-icon-font-prefix}-bars-negative:before 	{ content: "s"; }


// Close (X)
#{$bdk-icon-font-prefix}-times:before,
#{$bdk-icon-font-prefix}-close:before 			{ content: "a"; }
// Bell
#{$bdk-icon-font-prefix}-bell:before 			{ content: "b"; }
// Phone tube
#{$bdk-icon-font-prefix}-phone-tube:before 		{ content: "e"; }
// Sandwich Bars
#{$bdk-icon-font-prefix}-bars:before 			{ content: "f"; }
// Sandwich Bars negative
#{$bdk-icon-font-prefix}-bars-negative:before 	{ content: "g"; }