// _animations.scss


/* 
 * Fade In
 * (without affecting display property)
 */
@include keyframes(fadeIn) {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.fadeIn { @include animation( fadeIn 1s ); }


/* 
 * Fade In Left
 * (without affecting display property)
 */
@include keyframes(fadeInLeft) {
	0% {
		@include transform( translate3d(-10px, 0, 0) );
		opacity: 0;
	}
	100% {
		@include transform( translate3d(0px, 0, 0) );
		opacity: 1;
	}
}
.fadeInLeft { @include animation( fadeInLeft 1s ); }


/* 
 * Fade In Left Display
 *
 */
@include keyframes(fadeInLeftDisplay) {
	0% {
		@include transform( translate3d(-10px, 0, 0) );
		opacity: 0;
		display:none;
	}
	100% {
		@include transform( translate3d(0px, 0, 0) );
		opacity: 1;
		display: block;
	}
}
.fadeInLeftDisplay { @include animation( fadeInLeftDisplay 1s ); }


/* 
 * Bounce Up
 *
 */
@include keyframes(bounceUp) {
	0% {
		@include transform( translate3d(0, -10px, 0) );
	}
	50% {
		@include transform( translate3d(0, 10px, 0) );
	}
	100% {
		@include transform( translate3d(0, -10px, 0) );
	}
}
.bounceUp { @include animation( bounceUp 1s ); }



/* 
 * Pulse
 *
 */
@include keyframes(pulse) {
	0% {
		@include transform( scale(1) );
	}
	50% {
		@include transform( scale(1.25) );
	}
	100% {
		@include transform( scale(1) );
	}
}
.pulse { @include animation( pulse 1s ); }



// =====================
// FROM RIGHT TO POINT
// =====================

/* 
 * Show from right
 * Normal Distance
 */
@include keyframes(showFromRight-1) {
	0% { @include transform( translateX(6000px) ); }
	100% { @include transform( translateX(0) ); }
}
.showFromRight-1 { @include animation( showFromRight-1 1s ); }
/* 
 * Show from right
 * Far distance
 */
@include keyframes(showFromRight-2) {
	0% { @include transform( translateX(8500px) ); }
	100% { @include transform( translateX(0) ); }
}
.showFromRight-2 { @include animation( showFromRight-2 1s ); }
/* 
 * Show from right
 * So much far distance
 */
@include keyframes(showFromRight-3) {
	0% { @include transform( translateX(15000px) ); }
	100% { @include transform( translateX(0) ); }
}
.showFromRight-3 { @include animation( showFromRight-3 1s ); }

/* 
 * Show from right
 * Normal Distance
 */
@include keyframes(showFromRightPos-1) {
	0% 		{ left: 6000px; }
	100% 	{ left: 0; }
}
.showFromRightPos-1 { @include animation( showFromRightPos-1 1s ); }

// =====================
// FROM LEFT TO POINT
// =====================

/* 
 * Show from left
 * Normal Distance
 */
@include keyframes(showFromLeft-1) {
	0% { @include transform( translateX(-6000px) ); }
	100% { @include transform( translateX(0) ); }
}
.showFromLeft-1 { @include animation( showFromLeft-1 $transition-time * 2 ); }
/* 
 * Show from left
 * Far distance
 */
@include keyframes(showFromLeft-2) {
	0% { @include transform( translateX(-8500px) ); }
	100% { @include transform( translateX(0) ); }
}
.showFromLeft-2 { @include animation( showFromLeft-2 $transition-time * 4 ); }
/* 
 * Show from left
 * So much far distance
 */
@include keyframes(showFromLeft-3) {
	0% { @include transform( translateX(-15000px) ); }
	100% { @include transform( translateX(0) ); }
}
.showFromLeft-3 { @include animation( showFromLeft-3 $transition-time * 6 ); }


// ===========================
// FADE FROM RIGHT TO POINT
// ===========================

/* 
 * FadeIn from left
 * Normal Distance
 */
@include keyframes(fadeFromRight-1) {
	0% { @include opacity(0); @include transform( translateX(6000px) ); }
	100% { @include opacity(1); @include transform( translateX(0) ); }
}
.fadeFromRight-1 { @include opacity(0); @include animation( fadeFromRight-1, 1s ); }
/* 
 * FadeIn from left
 * Far distance
 */
@include keyframes(fadeFromRight-2) {
	0% { @include opacity(0); @include transform( translateX(8500px) ); }
	100% { @include opacity(1); @include transform( translateX(0) ); }
}
.fadeFromRight-2 { @include opacity(0); @include animation( fadeFromRight-2, 1s ); }
/* 
 * FadeIn from left
 * So much far distance
 */
@include keyframes(fadeFromRight-3) {
	0% { @include opacity(0); @include transform( translateX(15000px) ); }
	100% { @include opacity(1); @include transform( translateX(0) ); }
}
.fadeFromRight-3 { @include opacity(0); @include animation( fadeFromRight-3, 1s ); }


// ===========================
// FADE FROM LEFT TO POINT
// ===========================

/* 
 * FadeIn from left
 * Normal Distance
 */
@include keyframes(fadeFromLeft-1) {
	0% { opacity: 0; @include transform( translateX(-6000px) ); }
	100% { opacity: 1; @include transform( translateX(0) ); }
}
.fadeFromLeft-1 { @include opacity(0); @include animation( fadeFromLeft-1, 1s ); }
/* 
 * FadeIn from left
 * Far distance
 */
@include keyframes(fadeFromLeft-2) {
	0% { opacity: 0; @include transform( translateX(-8500px) ); }
	100% { opacity: 1; @include transform( translateX(0) ); }
}
.fadeFromLeft-2 { @include opacity(0); @include animation( fadeFromLeft-2, 1s ); }
/* 
 * FadeIn from left
 * So much far distance
 */
@include keyframes(fadeFromLeft-3) {
	0% { opacity: 0; @include transform( translateX(-15000px) ); }
	100% { opacity: 1; @include transform( translateX(0) ); }
}
.fadeFromLeft-3 { @include opacity(0); @include animation( fadeFromLeft-3, 1s ); }





/* 
 * Delay Clases
 */
@for $i from 1 through 8 {
	.delay-#{$i} {
		@include animation-delay( $i * 1s );
	}
}
