// _icons.scss

$md-icon-size:	24px;
$sm-icon-size:	16px;

$grid-size:	24px;
$x-grid: 528px / $grid-size;
$y-grid: 384px / $grid-size;

.icon {
	display: block;
	background-image: institucional('icons.png');
	background-position: 0 0;
	background-repeat: no-repeat;
}

@mixin generate_icons( $icon-size, $class-prefix:'' ) {
	$icon-class: 'icon';
	@if $class-prefix != '' {
		$icon-class: '#{$class-prefix}-icon'
	}

	// .icon-class-here	
	.#{$icon-class} {
		width: $icon-size;
		height: $icon-size;
		background-size: ($icon-size * $x-grid) ($icon-size * $y-grid);
		// background-size: ($icon-size * 22) ($icon-size * 16);

		&.start {
			width: ($icon-size * 5);
			height: ($icon-size * 5);
			background-position: 0 0;
			&.red {
				width: ($icon-size * 3);
				height: ($icon-size * 3);
				background-position: 0 (-$icon-size * 5);
				&.right {
					background-position: (-$icon-size * 3) (-$icon-size * 5);
				}
			}
		}

		$usa:		('usa', 'eeuu', 'ee-uu', 'estados-unidos', 'silicon-valley', 'sil-valley');
		$spain:		('spa', 'espana', 'españa', 'spain');
		$brasil: 	('bra', 'brasil', 'brazil', 'sao-paulo', 'san-pablo', 'rio-de-janeiro');
		$argentina: ('arg', 'argentina', 'buenos-aires', 'bs-as');
		$colombia:	('col', 'colombia', 'bogota');
		$mexico:	('mex', 'mexico', 'mexico-df');

		&.flag {
			@each $place in $usa {
				&.#{$place}	{ background-position: (-$icon-size * 5) 0; }
			}
			@each $place in $spain {
				&.#{$place}	{ background-position: (-$icon-size * 5) (-$icon-size * 2); }
			}
			@each $place in $brasil {
				&.#{$place}	{ background-position: (-$icon-size * 5) (-$icon-size); }
			}
			@each $place in $argentina {
				&.#{$place}	{ background-position: (-$icon-size * 5) (-$icon-size * 3); }
			}
			@each $place in $colombia {
				&.#{$place}	{ background-position: (-$icon-size * 5) (-$icon-size * 4); }
			}
			@each $place in $mexico {
				&.#{$place}	{ background-position: (-$icon-size * 6) 0; }
			}
			&.big {
				width: $icon-size * 3;
				height: $icon-size * 2;
				@each $place in $argentina {
					&.#{$place}	{ background-position: (-$icon-size * 7) 0; }
				}
				@each $place in $brasil {
					&.#{$place}	{ background-position: (-$icon-size * 10) 0; }
				}
				@each $place in $colombia {
					&.#{$place}	{ background-position: (-$icon-size * 10) (-$icon-size * 4); }
				}
				@each $place in $mexico {
					&.#{$place}	{ background-position: (-$icon-size * 7) (-$icon-size * 2); }
				}
			}
		}

		&.video {
			&.play {
				background-position: 0 (-$icon-size * 11); 
			}
			&.record {
				background-position: (-$icon-size) (-$icon-size * 11); 
			}
		}

		&.arrow-dropdown {
			background-position: (-$icon-size * 2) (-$icon-size * 11);
		}

		&.status {
			&.pending 	{ background-position: (-$icon-size * 3) (-$icon-size * 11); }
			&.complete 	{ background-position: (-$icon-size * 4) (-$icon-size * 11); }
			&.wrong 	{ background-position: (-$icon-size * 5) (-$icon-size * 11); }
		}

		&.arrow {
			&.top {
				background-position: 0 (-$icon-size * 12);
				&.black { background-position: 0 (-$icon-size * 13); }
			}
			&.right {
				background-position: (-$icon-size) (-$icon-size * 12);
				&.black { background-position: (-$icon-size) (-$icon-size * 13); }
			}
			&.bottom {
				background-position: (-$icon-size * 2) (-$icon-size * 12);
				&.black { background-position: (-$icon-size * 2) (-$icon-size * 13); }
			}
			&.left {
				background-position: (-$icon-size * 3) (-$icon-size * 12);
				&.black { background-position: (-$icon-size * 3) (-$icon-size * 13); }
			}
			&.small {
				&.down 	{ background-position: (-$icon-size * 12) (-$icon-size * 8); }
				&.right { background-position: (-$icon-size * 13) (-$icon-size * 8); }
				&.up 	{ background-position: (-$icon-size * 12) (-$icon-size * 9); }
				&.left 	{ background-position: (-$icon-size * 13) (-$icon-size * 9); }
			}
		}

		&.live {
			background-position: (-$icon-size * 6) (-$icon-size * 11);
		}

		&.calendar {
			width: $icon-size * 2;
			height: $icon-size * 2;
			background-position: (-$icon-size * 8) (-$icon-size * 11);
		}

		&.face {
			height: $icon-size * 3;
			width: $icon-size * 3;
			&.sad { background-position: (-$icon-size * 4) (-$icon-size * 13); }
			&.smile { background-position: (-$icon-size * 7) (-$icon-size * 13); }
		}

		&.close {
			background-position: (-$icon-size * 10) (-$icon-size * 11);
		}

		&.notebook 	{ background-position: 0 (-$icon-size * 14); }
		&.user 		{ background-position: (-$icon-size) (-$icon-size * 14); }
	}
}
		
// Medium size icons
@include generate_icons( $md-icon-size );


@include netbook() {
	/* Netbook size icons - Hasta 600 de alto  */
	@include generate_icons( $sm-icon-size, 'sm' );
	// Exception of medium size icons inside @media query
	@include generate_icons( $md-icon-size, 'md' );
	// Large size icons inside @media query
	// @include generate_icons( $lg-icon-size, 'lg' );	
}

// Redefiniendo la variable
// para no destruir el resto del sitio
$icon-size: 24px;