// _list.scss

.list {
	@include clear();
	&, &.vertical, &.vert {
		margin: 0;
		padding-left: 0;
		.item {
			margin: 0;
			display: block;
			float: none;
		}
	}
	&.horizontal, &.horz {
		.item { 
			float: left; 
		}
		&.centered, &.inline {
			text-align: center;
			.item {
				float: none;
				display: inline-block;				
			}
		}
	}
	.item {
		@include clear();
	}
}