// _slider.scss

$slider-height:				430px;
$slider-left-offset:		5%;
$slider-main-text-top:		80px;
$slider-secondary-text-top:	180px;
$slider-button-top:			280px;
$slider-background:			$color-2;
// Flechitas
$slider-arrow-size:			40px;
$slider-arrow-offset:		10px;
// Bullets
$slider-bullet-size:		12px;
$slider-bullet-offset:		4px;


.da-slider{
	width: 100%;
	min-width: 100%;
	height: $slider-height;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3em;
	overflow: hidden;
	@include box-shadow( 0px 1px 1px white(0.2), 0px -2px 1px #fff );
	@include transition( background 1s ease-out 0.3s );
	@include background( $slider-background );

	position: relative;
	.da-slide{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		text-align: center;
	}
	
	// Link
	.slide-link {
		position: relative;
		text-align: center;
	}
	// Imagen
	.slide-image {}
}

.da-slide {
	.text-line, .da-link {
		position: relative;
		// left: 110%;
		left: 0;
		@include opacity(0);
	}	
	.da-img {
		position: absolute;
	}
}

// CURRENT SLIDE
// ==================================================
.da-slide {
	&.da-slide-current {
		z-index: 1000;
		.text-line, .da-link, .da-img {
			@include opacity(1);
		}
		.text-line, .da-link{
			// left: 10%;
			left: 0%;
			opacity: 1;
		}
		.da-img{
			left: 60%;
			opacity: 1;
		}
	}
}


// FB SLIDE
// ==================================================
.da-slider-fb {
	.da-slide {
		left: 100%;
		&.da-slide-current {
			left: 0px;
		}
		.text-line, .da-link {
			// left: 10%;
			left: 0;
			opacity: 1;
		}
		.da-img{
			left: 60%;
			opacity: 1;
		}	
	}	
}

// TEXTO 
// =============================================
.da-slide {
	.slide-text {
		position: relative;
		height: 100%;
		opacity: 1;
		p, span { margin: 0; }
	}
	.text-box {
		color: $text-color;	
		max-height: 175px;
	}
	.text-line {
		position: relative;
		color: $text-color;
		margin-bottom: 1.5em;
	}
	.slide-main-text, .slide-secondary-text {
	}
	.slide-secondary-text {
		color: lighten($text-color, 10%);
	}
	.text-line {
		&.slide-main-text {}
		&.slide-secondary-text {}		
	}
	.da-img {
		text-align: center;
		width: 40%;
		height: 100%;
		// padding-top: $col-offset * 2;
		line-height: 320px;
		left: 150%;
		top: 0;
		img {
			height: 100%;
		}
	}	
}	


// Boton
// ============================================
.da-slide .da-link{
	color: #fff;
	text-align: center;
	display: inline-block;
	float: none;
	@include box-shadow( 0px 1px 1px black(0.1) );
	@include text-shadow( 1px 1px 1px black(0.2) );
}

// Bullets
// ============================================
.da-dots{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 20px;
	z-index: 2000;
	-moz-user-select: none;
	-webkit-user-select: none;
	span {
		display: inline-block;
		position: relative;
		width: $slider-bullet-size;
		height: $slider-bullet-size;
		@include border-radius( 50% );
		@include background( #fff );
		margin: 3px;
		cursor: pointer;
		border: 2px solid transparent;
		@include border-radius( 50% );
		@include box-shadow( 
			1px 1px 1px black(0.1) inset, 
			1px 1px 1px white(0.1)
		);
	}
	span.da-dots-current {
		border-color: white();
		@include background( $google-blue );
	}
}

// Flechitas
// ============================================
.da-arrows{}

.da-arrows {
	-moz-user-select: none;
	-webkit-user-select: none;
	span {
		position: absolute;
		display: block;
		top: 50%;
		height: $slider-arrow-size;
		width: $slider-arrow-size;
		line-height: $slider-arrow-size;
		text-align: center;
		font-size: 20px;
		color: white();
		cursor: pointer;
		z-index: 2000;
		@include opacity(0);
		@include border-radius(50%);
		@include background( $google-blue );
		@include box-shadow( 
			1px 1px 1px black(0.1) inset, 
			1px 1px 1px white(0.1)
		);
		@include transition( opacity 0.4s ease-in-out 0.2s );
		&:after {
			content: '';
			position: absolute;
			width: $slider-arrow-size - $slider-arrow-offset;
			height: $slider-arrow-size - $slider-arrow-offset;
			top: $slider-arrow-offset / 2;
			left: $slider-arrow-offset / 2;
			@include border-radius( 50% );
			@include box-shadow( 1px 1px 2px black(0.1) );
		}
		&:hover:after{
			@include box-shadow( 1px 1px 4px black(0.3) );
		}
		&:active:after{
			@include box-shadow( inset 1px 1px 1px black(0.2) );
		}
		&.da-arrows-prev{
			left: $slider-arrow-size;
			text-indent: -1px;
		}
		&.da-arrows-next{
			right: $slider-arrow-size;
			text-indent: 1px;
			&:after{
				background-position: top right;
			}
		}
	}	
}

.da-slider:hover .da-arrows span {
	@include opacity(1);
}


// Media Query
// ============================================

// Mobile
// =======================
@mixin media-mobile-slide-arrow {
	.da-arrows { display: none; }
}
@mixin media-mobile-slide-image {
	$mobile-slider-height:			380px;
	$mobile-bullet-size:			30px;
	$mobile-slider-bottom-offset:	$mobile-bullet-size / 2;
	#da-slider {
		position: relative;
		height: $mobile-slider-height + $mobile-slider-bottom-offset;
		margin-bottom: 0;
		// min-height: auto;
		// padding: 0;
	}
	.da-slide {
		.text-box {
			position: relative!important;
		}	
		.text-line {
			text-align: left;
			margin-bottom: 1em;
		}
		.slide-text {
			width: 100%;
			padding-left: $col-offset;
			padding-right: $col-offset;
		}
		.text-box {
			width: 90%;
			max-height: $mobile-slider-height;
			padding-top: $col-offset * 3;
			padding-bottom: $col-offset * 3;
		}
		.slide-main-text {
			font-size: 18px;
		}
		.slide-secondary-text {
			font-size: 14px;
		}
		.da-img { 
			display: none; 
		}
	}
	.da-dots {
		bottom: $mobile-slider-bottom-offset;
		span {
			width: $mobile-bullet-size;
			height: $mobile-bullet-size;
			margin: 4px;
		}
	}
}
// Tablets
// =======================
@mixin media-tablet-slide-arrow($arrow-size: $slider-arrow-size, $arrow-offset: $slider-arrow-offset) {
	$tablet-slider-height:			570px;
	$tablet-bullet-size:			30px;
	$tablet-slider-bottom-offset:	$tablet-bullet-size / 2;

	#da-slider {
		position: relative;
		margin-bottom: 0;
		margin-top: 0;
	}

	.da-arrows {
		height: $arrow-size;
		width: $arrow-size;
		span {
			@include opacity(1);
			&:after {
				width: $slider-arrow-size - $arrow-offset;
				height: $slider-arrow-size - $arrow-offset;
				top: $arrow-offset / 2;
				left: $arrow-offset / 2;
			}			
		}
	}
	.da-dots {
		bottom: $tablet-slider-bottom-offset;
		span {
			width: $tablet-bullet-size;
			height: $tablet-bullet-size;
			margin: 5px;
		}
	}
}
@mixin media-tablet-slide-image {
	// Lo mismo que en mobile
	// @include media-mobile-slide-image;
	.da-slide {
		.da-img { display: none; }
	}

}


// Animation classes and animations
// =========================================================

// Slide in from the right
.da-slide-fromright {
	.slide-main-text {
		-webkit-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
		-moz-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
		-o-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
		-ms-animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
		animation: fromRightAnim1 0.6s ease-in-out 0.8s both;
	}
	.slide-secondary-text {
		-webkit-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
		-moz-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
		-o-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
		-ms-animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
		animation: fromRightAnim2 0.6s ease-in-out 0.8s both;
	}
	.da-link {
		-webkit-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
		-moz-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
		-o-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
		-ms-animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
		animation: fromRightAnim3 0.4s ease-in-out 1.2s both;
	}
	.da-img {
		-webkit-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
		-moz-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
		-o-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
		-ms-animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
		animation: fromRightAnim4 0.6s ease-in-out 0.8s both;
	}	
}
@include keyframes(fromRightAnim1) {
	0% { left: 110%; opacity: 0; }
	100% { left: 0%; opacity: 1; }
}
@include keyframes(fromRightAnim2) {
	0% { left: 110%; opacity: 0; }
	100% { left: 0%; opacity: 1; }
}
@include keyframes(fromRightAnim3) {
	0% { left: 110%; opacity: 0; }
	1% { left: 10%; opacity: 0; }
	100% { left: 0%; opacity: 1; }
}
@include keyframes(fromRightAnim4) {
	0% { left: 110%; opacity: 0; }
	100% { left: 60%; opacity: 1; }
}



// Slide in from the left
.da-slide-fromleft {
	.slide-main-text {
		-webkit-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
		-moz-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
		-o-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
		-ms-animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
		animation: fromLeftAnim1 0.6s ease-in-out 0.6s both;
	}
	.slide-secondary-text {
		-webkit-animation: fromLeftAnim2 0.6s ease-in-out 0.4s both;
		-moz-animation: fromLeftAnim2 0.6s ease-in-out 0.4s both;
		-o-animation: fromLeftAnim2 0.6s ease-in-out 0.4s both;
		-ms-animation: fromLeftAnim2 0.6s ease-in-out 0.4s both;
		animation: fromLeftAnim2 0.6s ease-in-out 0.4s both;
	}
	.da-link {
		-webkit-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
		-moz-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
		-o-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
		-ms-animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
		animation: fromLeftAnim3 0.4s ease-in-out 1.2s both;
	}
	.da-img {
		-webkit-animation: fromLeftAnim4 0.6s ease-in-out 1.1s both;
		-moz-animation: fromLeftAnim4 0.6s ease-in-out 1.1s both;
		-o-animation: fromLeftAnim4 0.6s ease-in-out 1.1s both;
		-ms-animation: fromLeftAnim4 0.6s ease-in-out 1.1s both;
		animation: fromLeftAnim4 0.6s ease-in-out 1.1s both;
	}	
}
@include keyframes(fromLeftAnim1) {
	0% { left: -110%; opacity: 0; }
	100% { left: 0%; opacity: 1; }
}
@include keyframes(fromLeftAnim2) {
	0% { left: -110%; opacity: 0; }
	100% { left: 0%; opacity: 1; }
}
@include keyframes(fromLeftAnim3) {
	// 0% { left: -110%; opacity: 0; }
	0% { left: -10%; opacity: 0; }
	100% { left: 0%; opacity: 1; }
}
@include keyframes(fromLeftAnim4) {
	0% { left: 10%; opacity: 0; }
	100% { left: 60%; opacity: 1; }
}



// Slide out to the right
.da-slide-toright {
	.slide-main-text {
		-webkit-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
		-moz-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
		-o-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
		-ms-animation: toRightAnim1 0.6s ease-in-out 0.6s both;
		animation: toRightAnim1 0.6s ease-in-out 0.6s both;
	}
	.slide-secondary-text {
		-webkit-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
		-moz-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
		-o-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
		-ms-animation: toRightAnim2 0.6s ease-in-out 0.3s both;
		animation: toRightAnim2 0.6s ease-in-out 0.3s both;
	}
	.da-link {
		-webkit-animation: toRightAnim3 0.4s ease-in-out both;
		-moz-animation: toRightAnim3 0.4s ease-in-out both;
		-o-animation: toRightAnim3 0.4s ease-in-out both;
		-ms-animation: toRightAnim3 0.4s ease-in-out both;
		animation: toRightAnim3 0.4s ease-in-out both;
	}
	.da-img {
		-webkit-animation: toRightAnim4 0.6s ease-in-out both;
		-moz-animation: toRightAnim4 0.6s ease-in-out both;
		-o-animation: toRightAnim4 0.6s ease-in-out both;
		-ms-animation: toRightAnim4 0.6s ease-in-out both;
		animation: toRightAnim4 0.6s ease-in-out both;
	}	
}
@include keyframes(toRightAnim1) {
	0%{ left: 0;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@include keyframes(toRightAnim2) {
	0%{ left: 0;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}
@include keyframes(toRightAnim3) {
	0%{ left: 0;  opacity: 1; }
	99%{ left: 10%; opacity: 0; }
	100%{ left: 100%; opacity: 0; }
}
@include keyframes(toRightAnim4) {
	0%{ left: 60%;  opacity: 1; }
	30%{ left: 55%;  opacity: 1; }
	100%{ left: 100%; opacity: 0; }
}



// Slide out to the left
.da-slide-toleft {
	.slide-main-text {
		-webkit-animation: toLeftAnim1 0.6s ease-in-out both;
		-moz-animation: toLeftAnim1 0.6s ease-in-out both;
		-o-animation: toLeftAnim1 0.6s ease-in-out both;
		-ms-animation: toLeftAnim1 0.6s ease-in-out both;
		animation: toLeftAnim1 0.6s ease-in-out both;
	}
	.slide-secondary-text {
		-webkit-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
		-moz-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
		-o-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
		-ms-animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
		animation: toLeftAnim2 0.6s ease-in-out 0.3s both;
	}
	.da-link {
		-webkit-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
		-moz-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
		-o-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
		-ms-animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
		animation: toLeftAnim3 0.6s ease-in-out 0.6s both;
	}
	.da-img {
		-webkit-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
		-moz-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
		-o-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
		-ms-animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
		animation: toLeftAnim4 0.6s ease-in-out 0.5s both;
	}	
}
@include keyframes(toLeftAnim1) {
	0%{ left: 0;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@include keyframes(toLeftAnim2) {
	0%{ left: 0;  opacity: 1; }
	30%{ left: 15%;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@include keyframes(toLeftAnim3) {
	0%{ left: 0;  opacity: 1; }
	100%{ left: -50%; opacity: 0; }
}
@include keyframes(toLeftAnim4) {
	0%{ left: 60%;  opacity: 1; }
	70%{ left: 30%;  opacity: 0; }
	100%{ left: -50%; opacity: 0; }
}