// _titles.scss


.title {
	$normal: 2.8em;
	font-size: $normal;
	line-height: 1em;
	font-weight: 300;
	span {
		&.yellow { color: $google-yellow; }
	}
}


// =========================
// Sizes
// =========================
.title {
	&.small {
		$small: 1.4em;
		font-size: $small;
		// line-height: $small * 1.42857143;
		line-height: 1.3em;
	}
	&.medium {
		font-size: 2em;
	}
	&.bigger {
		font-size: 3.7em;
		line-height: 1.1em;
	}
}


// =========================
// Colors
// =========================
.title {
	&.yellow  	{ color: $google-yellow; }
	&.blue  	{ color: $google-light-blue; }
	&.red  		{ color: $google-red; }
	&.green 	{ color: $google-green; }
	&.black		{ color: $text-color; }
}