//// 
/// _comments.scss
///
/// Maqueta los comentarios de usuarios
/// @since 0.1.2
/// @group Social
/// @example
/// <contenedor>
/// 	<user-image>
/// 	<img />
/// 	</user-image>
/// 	<user-comment>
/// 		<user-name>
/// 		</user-name>
/// 		<p class="user-message"></p>
/// 	</user-comment>
/// </contenedor>
////

$comments-avatar-size:	50px;

// 
/// Comments list
/// Class for the <ul> or <ol> tag wich hold the .bdk-comments elements
//
ul.#{$bodoke-prefix}-comments,
.list.#{$bodoke-prefix}-comments {
	margin-left: 0;
	margin-top: 0;
	padding-left: 0;
	margin-bottom: $col-offset * 1.5;
	list-style: none;
}




// 
/// User comment / bdk-comment
/// The HTML element that contain all of the comment structure
//
.#{$bodoke-prefix}-comment {
	position: relative;
	@include clear();
	// margin-bottom: 10px;
	padding: $col-offset;
	padding-bottom: $col-offset * 2;
	border-bottom: 1px solid $gray-border;
	.user-image, .user-comment {
		display: inline-block;
		vertical-align: top;
	}
}



// 
/// User image / Profile image
/// The profile-pic or avatar from the user who post the comment
//
.#{$bodoke-prefix}-comment {
	.user-image {
		width: $comments-avatar-size;
		height: $comments-avatar-size;
		// height: 40px;
		img {
			width: 100%;
			max-height: $comments-avatar-size;
		}
	}
}



// 
/// The comment area / User comment
/// Contain the user-name and the user-message
/// is pushed to the right giving the necesary space
/// to the profile pic (user-image)
//
.#{$bodoke-prefix}-comment {
	// Comentario
	.user-comment {
		width: 80%;
		padding-left: $offset;
		.user-message {
			font-size: 0.85em;
			line-height: 1.3em;
			margin: 0;
			p {
				margin-bottom: $col-offset;
			}
			&.max {
				@include max-lines(3, 1.3, true);
				&.expanded {
					overflow: visible;
					text-overflow: initial;
				}
			}
		}
	}
}



// 
/// User name / Nombre de usuario
/// The username of the user who commented
//
.#{$bodoke-prefix}-comment {
	// Nombre del usuario
	.user-name {
		font-style: 0.9em;
		font-weight: 500;
		margin-bottom: 6px;
	}
}



// 
/// Comment date
/// The time when the comment was submited
//
.#{$bodoke-prefix}-comment {
	// Fecha del comentario
	.user-comment-date {
		font-size: 0.8em;
		display: inline-block;
		vertical-align: middle;
		color: gray(180);
	}
	// Si es un link
	a.user-comment-date {
		&:hover { color: gray(160); }
	}
}




// 
/// Comment date
/// The time when the comment was submited
//
.#{$bodoke-prefix}-comments {	
	// Interacciones con el mensaje/comentario
	.user-interactions {
		position: absolute;
		width: 100%;
		bottom: $col-offset / 1.5;
		font-size: em(11px);
		line-height: 1em;
		height: 1em;
		color: gray(30);
		margin: 0;
		@include opacity(0);
		@include transition( opacity $transition-speed ease );
	}
	&:hover {
		.user-interactions {
			@include opacity(1);
		}			
	}
}




// 
/// Change margin if [dir]
// 
[dir="ltr"] .#{$bodoke-prefix}-comments {
	.user-image, .user-comment {
		// float: left;
	}
	.user-image { 
		margin-right: $col-offset / 2;
	}
	.user-interactions {
		text-align: right;
		padding-right: $col-offset;
		right: 0;
	}
} 
[dir="rtl"] .#{$bodoke-prefix}-comments {
	.user-image, .user-comment {
		// float: right;
	}
	.user-image { 
		margin-left: $col-offset / 2;
	}
	.user-interactions {
		text-align: left;
		padding-left: $col-offset;
		left: 0;
	}
} 