////
/// _sidenav.scss
/// Sidebar/Sidenav navigation for pages
/// Can handle inside <ul>, <ol> and <li>
/// @group Component
/// @author [Diego Martin Marmol](http://twitter.com/dmmarmol)
/// @example
/// <nav class="sidenav nav">
/// 	<ul class="list">
/// 		<li class="item">
///				<!-- /* whatever content you want here */ -->
/// 		</li>
/// 		<li class="item">
///				<a href="http://www.google.com.ar">This is an example</a>
/// 		</li>
/// 	</ul>
/// </nav>
/// @since 0.2.3
////

/// @type String
$bdk-sidenav:			'.sidenav';

/// @name Bodoke Sidenav
#{$bdk-sidenav} {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	&, &.sidenav-vertical {
		.item {
			float: none;
			clear: both;
		}		
	}
	.item {
		.inner-item, a {
			border-bottom: 1px solid gray(225);
		}
		a {
			padding-left: $offset;
			padding-right: $offset;
			width: 100%;
			display: block;
			line-height: 3.8em;
			font-size: 0.8em;
			&:hover {
				background-color: gray(235);
			}
		}
		.text, .ficon {
			display: inline-block;
			vertical-align: middle;
		}
		.ficon {
			font-size: 1.1em;			
			margin-right: $col-offset / 2;
		}
	}
}


//
/// Sidenav active item
//
#{$bdk-sidenav} {
	.item.active {
		background-color: $color-1;
		color: white;
		.inner-item, a {
			&:hover {
				background-color: darken( $color-1, 10% );
			}			
		}
	}
}



/// Sidenav Colors
/// Default
#{$bdk-sidenav} {
	background-color: gray(245);
	@include box-shadow( 0 0 10px -2px black(0.3) );
}
/// Transparent
#{$bdk-sidenav} {
	&#{$bdk-sidenav}-clear {
		background-color: transparent;
		@include box-shadow( none );
	}
}