////
/// _text.scss
///
////


p {
	font-size: 1em;
	line-height: 1.4em;
	margin-top: 0;
	margin-bottom: 0.75em;
}

p {
	&.lead {
		margin-bottom: $em-offset;
		font-size: 1.3em;
		font-weight: 300;
		line-height: 1.4em;
	}
}

@mixin media-paragraph-landscape {
	p {
		font-size: 1em;
		line-height: 1.6em;
	}
}


///
/// Bullet Labels
/// Pequeños avisos que se utilizan para advertir sobre
/// un contenido destacado pero sin ser invasivo
///
.label {
	display: inline-block;
	vertical-align: middle;
	padding: 3px 6px;
	font-size: 8px;
	font-weight: 500;
	line-height: 1em;
	text-transform: uppercase;
	background-color: getColor('gray');
	margin-left: 3px;
	border-radius: 3px;
	box-shadow: 0 0 1px 0 black(0.6);
}


.strong, .bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right; 
}
.text-left {
	text-align: left; 
}
.text-uppercase {
	text-transform: uppercase;
}