//// 
/// _media-queries.scss
/// Usefull set of media queries for development
/// @see [David Walsh Post](https://davidwalsh.name/write-media-queries-sass)
////

/// Sizes
$screen-xs:					640px; 	// 640px
$screen-sm:					768px; 	// 768px
$screen-md:					1024px; // 1024px
$screen-lg:					1280px;	// 1280px

/// Breakpoints
$screen-mobile-portrait:	"(max-device-width: #{$screen-sm})";
$screen-mobile-landscape:	"(min-device-width: #{($screen-xs / 2) + 1px})";
$screen-tablet-portrait:	"(min-device-width: #{$screen-xs}) and (max-device-width: #{$screen-sm - 1px})";
$screen-tablet-landscape:	"(min-device-width: #{$screen-sm}) and (max-device-width: #{$screen-md - 1px})";
$screen-desktop-medium:		"only screen and (max-width: #{$screen-md} - 1px)";
$screen-desktop:			"only screen and (min-width: #{$screen-md})";
$screen-netbook:			"only screen and (max-height: #{$screen-xs})";
$user-agent-mozilla:		"@-moz-document url-prefix()";


/// Mobile Portrait position | Until $screen-sm
/// @group Media queries
/// @author [Diego Martin Marmol](http://diegomarmol.com.ar)
@mixin mobile() {
	@media #{$screen-mobile-portrait} { @content }
}

/// Mobile Landscape position | Until $screen-sm
/// @group Media queries
/// @author [Diego Martin Marmol](http://diegomarmol.com.ar)
@mixin mobile-landscape() {
	@media #{$screen-mobile-landscape} { @content }
}

/// Tablet Portait position | Between $screen-xs and $screen-sm
/// @group Media queries
/// @author [Diego Martin Marmol](http://diegomarmol.com.ar)
@mixin tablet-portrait() {
	@media #{$screen-tablet-portrait} { @content }	
}

/// Tablet Landscape position | Between $screen-sm and $screen-md
/// @group Media queries
/// @author [Diego Martin Marmol](http://diegomarmol.com.ar)
@mixin tablet() {
	@media #{$screen-tablet-landscape} { @content }	
}

/// Desktop | Between $screen-xs and $screen-sm
/// @group Media queries
/// @author [Diego Martin Marmol](http://diegomarmol.com.ar)
@mixin desktop-medium() {
	@media #{$screen-desktop-medium} { @content }	
}

/// Desktop | Since $screen-sm
/// @group Media queries
/// @author [Diego Martin Marmol](http://diegomarmol.com.ar)
@mixin desktop() {
	@media #{$screen-desktop} { @content }	
}

/// Desktop Netbook | Until $screen-xs (height)
/// @group Media queries
/// @author [Diego Martin Marmol](http://diegomarmol.com.ar)
@mixin netbook() {
	@media #{$screen-netbook} { @content }
}

/// Mozilla Browsers only
/// @group Media queries
/// @author [Diego Martin Marmol](http://diegomarmol.com.ar)
@mixin mozilla() {
	@media #{$user-agent-mozilla} { @content }	
}


/// Print styles
/// @group Media queries
/// @author [Diego Martin Marmol](http://diegomarmol.com.ar)
/// @see [This blog post](http://www.joshuawinn.com/css-print-media-query/)
@mixin print() {
	@media print { @content }
}