////
/// _variables.scss
/// EN: Configuration variables of the Bodoke. Everything can be changed here
/// ES: Todas las variables de configuración de Bodoke
////

/// Navbar
$navbar:									'.navbar';										// DOM element
$navbar-height: 							4.5em;

$navbar-default-color:             			$gray-light !default;
$navbar-default-bg: 						$black_15 !default;
$navbar-default-border: 					lighten($black_15, 10%) !default;

$bdk-navbar-menu-toggle-button-size:		$em-offset * 2 !default;						/// @type Tamaño (x,y) del boton que activa/desactiva el menu

// $navbar-margin-bottom:             		$line-height-computed !default;
// $navbar-border-radius:             		$border-radius-base !default;
// $navbar-padding-horizontal:        		floor(($grid-gutter-width / 2)) !default;
// $navbar-padding-vertical:          		(($navbar-height - $line-height-computed) / 2) !default;
// $navbar-collapse-max-height:       		340px !default;

// Navbar search
$bdk-navbar-search-bg:						$gray-light !default;
$bdk-navbar-search-border:					$gray-border !default;

// Navbar links
$navbar-default-link-color:					$navbar-default-color !default;
$navbar-default-link-hover-color:			white !default;

// $navbar-default-link-hover-bg:             transparent !default;
// $navbar-default-link-active-color:         #555 !default;
// $navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
// $navbar-default-link-disabled-color:       #ccc !default;
// $navbar-default-link-disabled-bg:          transparent !default;

// // Navbar brand label
// $navbar-default-brand-color:               $navbar-default-link-color !default;
// $navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
// $navbar-default-brand-hover-bg:            transparent !default;

// // Navbar toggle
// $navbar-default-toggle-hover-bg:           #ddd !default;
// $navbar-default-toggle-icon-bar-bg:        #888 !default;
// $navbar-default-toggle-border-color:       #ddd !default;