@charset "UTF-8";

$bdk-font-path:         '#{$FONTPATH}#{$bodoke-font-icon}/';
// $bdk-font-path:         '';

// CSS Class prefix
$bdk-icon-font-prefix:  '#{$bodoke-prefix}-icon';

@font-face {
  font-family: "bodoke-fontastic";
  src:url("#{$bdk-font-path}bodoke-fontastic.eot");
  src:url("#{$bdk-font-path}bodoke-fontastic.eot?#iefix") format("embedded-opentype"),
      url("#{$bdk-font-path}bodoke-fontastic.woff") format("woff"),
      url("#{$bdk-font-path}bodoke-fontastic.ttf") format("truetype"),
      url("#{$bdk-font-path}bodoke-fontastic.svg#bodoke-fontastic") format("svg");
  font-weight: normal;
  font-style: normal;
}

.#{$bdk-icon-font-prefix},
[class^="#{$bdk-icon-font-prefix}"]:before,
[class*="#{$bdk-icon-font-prefix}"]:before {
  display: inline-block;
  font-family: $bodoke-font-icon;
  font-style: normal;
  font-weight: normal;
  speak: none;
  // line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
