////
/// _titles.scss
/// Serie de estilos globales para los titulos
////


.title {
	$normal: 2.8em;
	font-size: $normal;
	line-height: 1em;
	font-weight: 300;
	margin-top: 0.6em;
	margin-bottom: 0.8em;
	span {
		&.yellow { color: $yellow; }
	}
}



// =========================
// Sizes
// =========================
$mobile-reduction:	75;
h6.title {
  font-size: 0.9em; 
  @include mobile() {
  	font-size: ($mobile-reduction * 1.1em) / 100;
  }
}

h5.title {
  font-size: 1.1em; 
  @include mobile() {
  	font-size: ($mobile-reduction * 1.4em) / 100;
  }
}

h4.title {
  font-size: 1.5em; 
  @include mobile() {
  	font-size: ($mobile-reduction * 1.9em) / 100;
  }
}

h3.title {
  font-size: 2em; 
  @include mobile() {
  	font-size: ($mobile-reduction * 2.6em) / 100;
  }
}

h2.title {
  font-size: 2.5em; 
  @include mobile() {
  	font-size: ($mobile-reduction * 3.5em) / 100;
  }
}

h1.title {
  font-size: 3em; 
  @include mobile() {
  	font-size: ($mobile-reduction * 4.6em) / 100;
  }
}

.title {
	line-height: 1em;
	&.-tiny {
		font-size: 0.9em;
		line-height: 1.2em;
		margin-bottom: 0.3em;
	}
	&.-small {		
		font-size: 1.4em;		
		line-height: 1.2em;
	}
	&.-medium {
		font-size: 2em;
	}
	&.-bigger, &.-big {
		font-size: 3.7em;
		line-height: 1.1em;
	}
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
}

// =========================
// Colors
// =========================
/// Colores para los titulos
/// @example <h1 class="title -red">Awesome Title!</h1> 
.title {
	@each $single-color in $titles-color-pallete {
		$classname: '.-#{nth($single-color, 1)}';
		&#{$classname} {
			color: nth($single-color, 2);
		} 
	}
}


///
// Estilos
///
.title {
	&.-underline {
		border-bottom: 1px solid $gray-dark;
		// padding-left: $offset / 2;
		// padding-right: $offset / 2;
		margin-left: $offset;
		margin-right: $offset;
		padding-bottom:  0.25em;
	}
}