////
/// _titles.scss
/// Serie de estilos globales para los titulos
////


.title {
	$normal: 2.8em;
	font-size: $normal;
	line-height: 1em;
	font-weight: 300;
	margin-top: 0.6em;
	margin-bottom: 0.8em;
	span {
		&.yellow { color: $yellow; }
	}
}



// =========================
// Sizes
// =========================
.title {
	&.-small {
		$small: 1.4em;
		font-size: $small;
		// line-height: $small * 1.42857143;
		line-height: 1.3em;
	}
	&.-medium {
		font-size: 2em;
	}
	&.-bigger {
		font-size: 3.7em;
		line-height: 1.1em;
	}
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
}

// =========================
// Colors
// =========================
/// Colores para los titulos
/// @example <h1 class="title -red">Awesome Title!</h1> 
.title {
	@each $single-color in $titles-color-pallete {
		$classname: '.-#{nth($single-color, 1)}';
		&#{$classname} {
			color: nth($single-color, 2);
		} 
	}
}


///
// Estilos
///
.title {
	&.-underline {
		border-bottom: 1px solid $gray-dark;
		// padding-left: $offset / 2;
		// padding-right: $offset / 2;
		margin-left: $offset;
		margin-right: $offset;
		padding-bottom:  0.25em;
	}
}